/* A basic CSS Reset to remove default browser margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sand: #EFEDE7;
  --accent-teal: #1aad91;
  --accent-red: #A00A0C;
  --medium-green: #1c403a;
  --dark-green: #1c2d2a;
  --eggplant: #3F2E42;
  --mustard: #FFD655;
  --steel-red: #CB4848;
  --white: #fff;
  --light-grey: #BFBFBF;
  --large-border-radius: 12px;
  --small-border-radius: 6px;
  --padding1: 20px;
  --shadow1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
;
}

/* Base styles applied to the entire page body */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Defines a font stack */
  font-size: 16px; /* The default size for most browsers, which can be adjusted */
  line-height: 1.5; /* Sets spacing between lines of text */
  color: #333; /* Default text color */
  background: var(--white);
  background-color: var(--sand); /* Default background color */
  margin: 0; /* Removes default body margin */
}

/* Styles for headings (h1-h6) */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Ensures headings are bold */
  margin-bottom: 0.5em; /* Adds space below headings */
  margin-top: 0.5em;
  line-height: 1.2; /* Tighter line spacing for headings */
}

/* Styles for paragraphs */
p {
  margin-top: 1.7em;
  margin-bottom: 1em;
}

/* Styles for links */
a {
  color: #007bff; /* Sets link color */
  text-decoration: none; /* Removes default underlines */
}

a:hover, a:focus {
  text-decoration: underline; /* Adds underline on hover/focus for accessibility */
}

ul{
  padding: var(--padding1);
}

.subpage-hero {
  position: relative;
  width: 100%;
  background: #fff;
  padding: var(--padding1);
}

.flex{
  display: flex;
  width: 100%;
  gap: 40px;
}

.flex-tight {
  gap: 0;
}

.flex-tight .col {
  padding: 0;
  border: none;
}

.flex-header {
  margin-top: 20px;
  margin-bottom: -10px;
}

strong {
  color: var(--accent-red);
}

.col {
  flex: 1; /* Makes both columns take up an equal share of the available space */
  padding: 20px 30px;
  /*border: 1px solid #000;*/
  border-radius: var(--small-border-radius);
  box-sizing: border-box; /* Ensures padding/border are included in the 50% width calculation */
}

.col-two-thirds {
  flex: 2 1 0; /* shorthand for flex-grow, flex-shrink, flex-basis */
}

.col-one-third {
  flex: 1 1 0; /* This item will take up 1 part of the available space */
}

.main-content h2{
  font-size: 3.8rem;
}

.section-break-bg h2 {
  font-size: 5rem;
}

.main-content h3, .dark-content-tight h3 {
  font-size: 2.2rem;
  margin-top: 40px;
  margin-bottom: -10px;
}

.project-details section {
  margin-top: -80px;
}

.project-details video {
  width: 100%;
}

.project-details {
  padding-top: 120px !important;
}

 .tile a span{
  position: relative;
  top: 0px;
  left: 0;
  transition: left 0.2s ease-in-out;
}


.tile a:hover span {
  left: 6px;
  transition: left 0.2s ease-in-out;
}

.tile-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 10px 20px 220px 20px;
}

.tile-row-1 {
  padding: 20px 20px 10px 20px;
}

.tile {
  width: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 400px;
  border-radius: var(--large-border-radius);
  background-size: cover;
  background-position: center center;
}

.land-rover-tile {
  background-image: url(../img/jlr/24my_interior2.jpg);
}

.trackside-tile {
  background-image: url(../img/trackside_thunder/tt_mock_5.jpg);
}

.dirt-track-tile {
  background-image: url(../img/dirt_track/dirt_tile_bg.png);
}

.li-block {
  margin-top: 20px;
}


.tile a {
  background: linear-gradient(0deg,rgba(28, 64, 58, 0.9) 20%, rgba(28, 64, 58, 0.5) 50%, rgba(28, 64, 58, 0.9) 100%);
  height: 100%;
  display: block;
  padding: 20px 50px 20px 20px;
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: bold;
  z-index: 9999!important;
  color: var(--white);
  border-radius: var(--large-border-radius);
  box-shadow: rgba(50, 50, 93, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: 0.2s ease-in-out;
}

.tile a:hover {
  text-decoration: none;
  background: linear-gradient(0deg,rgba(26, 173, 145, .8) 0%, rgba(26, 173, 145, .8) 50%, rgba(26, 173, 145, .8) 100%);
  transition: 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.6) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
}

.project-info-wrapper {
  display: flex;
  margin-top: -80px;
  gap: 8px;
  padding: 20px;
  z-index: 1!important;
}

.project-info-chip {
  margin-top: auto;
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  border-left: 3px solid var(--white);
  border-right: 3px solid var(--white);
  font-weight: bold;
  padding: 8px;
  border-radius: var(--small-border-radius);
  font-size: 0.8rem;
  z-index: 0;
}

@media (max-width: 900px) {
  .tile-wrapper {
      flex-flow: column wrap;
  }
  .tile {
    height: 300px;
  }

  .tile-video-wrapper {
    top: -295px !important;
  }
}

/*
**
** Resume
**
**/

.download-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
}




.resume-wrapper {
  position: relative;
  width: 100%;
  background: var(--light-grey);
  margin: 20px 0px;
  padding: 0px 20px 0px 20px;
  display: flex;
  color: var(--white);
  z-index: 4;
}

.resume-content {
  position: relative;
  flex-grow: 3;
  max-width: 700px;
  background: var(--dark-green);
  overflow: hidden;
  padding: 50px 0;
  margin: -100px auto;
  border-radius: var(--large-border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.resume-content h2 {
  text-transform: uppercase;
  font-size: 8.5rem;
  margin-top: -95px;
  margin-bottom: -30px;

  /* Set the fill color to transparent */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Standard property (less widely supported) */
  
  /* Define the stroke (outline) width and color */
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  
  -webkit-text-stroke-color: var(--sand); /* Use your desired color */
  text-stroke-color: var(--sand);
  
  /* Ensure text is visible even if properties aren't fully supported */
  color: var(--sand); 
  text-align: center;
}

.resume-content h3 {
  font-size: 1.8rem;
}

.resume-content h4, .resume-content h5 {
  font-size: 1.1rem;
  margin-bottom: -25px;
}

.resume-content h4 {
  margin-top: 4px;
}



.resume-content img {
  width: 54px;
}

.employer-wrap {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.employer-wrap h3 {
  margin-bottom: 24px;
  flex-grow: 4;
  font-size: 2.5rem;
}

.employer-info {
  display: flex;
}

.employer-right {
  padding-left: 14px;
}

.employer-right p, .resume-content-border p {
  color: var(--light-grey);
  font-size: 0.9rem;
}


.resume-content a button{
  position: relative;
  padding: 12px 24px;

  min-width: 166px;
  color: var(--white);
  background: var(--medium-green);
  border: 2px solid var(--accent-teal);
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.2s ease-in-out;
}

.resume-content a:hover button {
  background: var(--accent-teal);
  border: 2px solid var(--accent-teal);
  transition: 0.2s ease-in-out;
}



.clear {
  clear: both;
  margin-top: 12px;
}

.resume-timeline {
  padding-left: 18px;

}
button {
  border-radius: 100px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover {
  cursor: pointer;
}


/*
**
** Button Arrow
**
**/

/* animates the arrow to the right on hover */
button:hover span{
  left: 6px;
  transition: left 0.2s ease-in-out;
}

/* vertically align the arrow */
button span, .tile a span{
  position: relative;
  top: 4px;
  left: 0;
  transition: left 0.2s ease-in-out;
}

.resume-content a button span svg{
  transform: rotate(90deg);
}

.resume-content a button span {
  top: 3px;
  left: 0;
  transition: top 0.2s ease-in-out;
}

.resume-content a:hover button span {
  top: 7px;
  left: 0;
  transition: top 0.2s ease-in-out;
}




/*.resume-timeline h5 {
  margin-left: 38px;
  float: left;
  margin-top: -12px;
  font-size: 1.3rem;
}*/

.resume-timeline {
  border-left: 2px solid var(--light-grey);
}

.ignore-margin {
  margin-left: 0 !important;
}

.resume-timeline p {
  margin-left: 20px;


}

.job-details {
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-left: 5px solid var(--accent-teal);
  margin-bottom: 30px;
  margin-left: 62px;
}

.job-details h5 {
  margin-bottom: -4px;
  font-size: 1.3rem;
}

.job-details h6 {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: var(--light-grey);
}

.job-details ul {
  margin-left: -6px;
  font-size: 0.9rem;
}

.job-details ul li {
  line-height: 1.2rem;
}

.nested-list{
  margin-top: -20px;
  padding-left: 30px;
  margin-bottom: -45px;
}

.no-margin {
  margin-bottom: -30px;
}

.nested-list li {
  line-height: 0.7rem;
}

.resume-timeline ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0;            /* Removes default left padding */
  margin: 0;             /* Removes default margins */
  margin-top: 16px;
}

.bullet {
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 28px;
  margin-left: -1px;
  border-radius: 50%;
  background: var(--white);
}

/* adjustment for the first line below Bachelor's Degree
** on the resume section */
.magd-fix {
  margin-top: 0px;
  padding-top: 10px;

}

.job-details, .employer-wrap {
  padding: 0 40px;
}


.resume-content-border {

  margin-left: 4px;
  padding-left: 12px;
  clear: both;
}

.resume-content-border span {
  width: 100%;
  float: left;
  margin-left: 19px;
  padding-right: 24px;
}

.timeline-clear {
  position: relative;
  margin-bottom: 16px;
}

#education-headline {
  padding-top: 30px;
  border-top: 1px solid var(--light-grey);
}



.resume-header-bg {
  position: absolute;
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  top: 0;
}


.list-margin {
  margin-top: 30px;
  margin-left: 20px;
}

.list-indent {
  margin-top: -15px;
  margin-bottom: -15px;
}

.project-media {
  position: relative;
  max-width: 700px;
  margin: 40px auto;
  color: var(--sand);
}

.project-media img {
  position: relative;
  width: 100%;
  margin: 0 auto 30px auto;
}

.text-center {
  text-align: center;
}


.shadow-box {
  padding:20px !important;
  
  border-left: 8px solid var(--light-grey);
  border-right: 8px solid var(--light-grey);
  color: var(--sand);
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.shadow-box-inner {
  background: rgba(0, 0, 0, 0.3);
  padding: 2px 40px 30px 40px;
  box-shadow: var(--shadow1);
  border-radius: var(--large-border-radius);
}

.shadow-box-inner strong {
  color: var(--accent-teal);
}


.shadow-box ul {
  margin-top: 20px;
  margin-bottom: -10px;
}

.italic {
  font-style: italic;
}


.section-marker {
  padding: 0;
  min-height: 100px;
  text-align: center;
  border-radius: var(--small-border-radius);
  box-shadow: var(--shadow1);
  z-index: 3;
}

.section-bg-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ccc;
  border-radius: var(--small-border-radius);
  text-align: center;
}

.section-marker span {
  position: absolute;
  z-index: 3;
  font-size: 14rem;
  /* Set the fill color to transparent */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Standard property (less widely supported) */
  
  /* Define the stroke (outline) width and color */
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  
  -webkit-text-stroke-color: #fff; /* Use your desired color */
  text-stroke-color: #fff;
  
  /* Ensure text is visible even if properties aren't fully supported */
  color: var(--sand); 
}

.section-bg-tint {
  background: rgba(28, 64, 58, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 3;
  border-radius: var(--small-border-radius);
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Optionally, centers horizontally as well */
}

.section-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border-radius: var(--small-border-radius);
  background-image: url(../img/jlr/24my_exterior.jpg);
}

/* JLR case study section images */
.objective-bg {background-image: url(../img/jlr/24my_interior2.jpg);}
.constraints-bg {background-image: url(../img/jlr/24my_interior3.jpg);}
.approach-bg {background-image: url(../img/jlr/24my_exterior3.jpg);}
.role-bg {background-image: url(../img/jlr/24my_exterior2.jpg);}
.results-bg {background-image: url(../img/jlr/24my_interior4.jpg);}
/* Trackside Thunder case study section images */
.tt-bg-1 {background-image: url(../img/trackside_thunder/tt_mock_4.jpg);}
.tt-bg-2 {background-image: url(../img/trackside_thunder/tt_mock_5.jpg);}
.tt-bg-3 {background-image: url(../img/trackside_thunder/tt_mock_1.jpg);}
.tt-bg-4 {background-image: url(../img/trackside_thunder/tt_mock_2.jpg);}
.tt-bg-5 {background-image: url(../img/trackside_thunder/tt_pulse_patch.svg);}
.tt-bg-6 {background-image: url(../img/trackside_thunder/tt_podcast_cover_art.png);}

.dirt-bg-1 {background-image: url(../img/dirt_track/tom_egan_dirt_bg1.jpg);}
.dirt-bg-2 {background-image: url(../img/dirt_track/tom_egan_dirt_bg2.jpg);}
.dirt-bg-3 {background-image: url(../img/dirt_track/tom_egan_dirt_bg3.jpg);}
.dirt-bg-4 {background-image: url(../img/dirt_track/tom_egan_dirt_bg4.jpg);}




.section-bg-square {
  height: 200px;
  width: 200px;
  background: #ccc;
  position: absolute;
  border-radius: var(--small-border-radius);
  z-index: -1;
}

.skim-lead {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.tldr-margin {
  margin-top: -20px;
  margin-bottom: -40px;
}
.break-after-dark-bg {
  margin-top: 100px;
}

.margin-10 {
  margin-top: -10px;
}

.row-fix {
  margin-top: -200px;
  margin-left: -60px;
}

.h3-list-margin {
  margin-top: 20px;
}

.square-left {
  left: -40px;
  top: -40px;
}

.square-right {
  right: -40px;
  top: -40px;
}

.content {
  padding: var(--padding1);
}

.top-border {
  border-top: 2px solid #000;
  padding-top: 60px;
}

.img-grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto 120px auto;
}

.img-grid-col {
  flex: 50%;
  max-width: 50%;
  padding: 0 20px;
}

.video-col {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 20px;
  margin: 0 auto;
  color: var(--sand);
}

.video-margin {
  margin-top: 100px;
}

.video-col video {
  width: 100%;
}

.video-col h3 {
  font-size: 1.5rem;
}

.video-iframe {
  text-align: center;
}

.video-frame h3 {
  position: relative;
  margin-bottom: 30px;
}

.last-row {
  padding-bottom: 200px;
}

.img-grid-col img {
  margin: 12px auto;
  vertical-align: middle;
  width: 100%;
}

.last-img-grid {
  margin: 0 auto;
}

.section-break-bg {
  width: 100%;
  max-width: 1500px;
  background: var(--dark-green);
  padding: 100px 50px 75px 50px;
  color: var(--sand);
}

@media screen and (max-width: 800px) {
  .img-grid-col {
    flex: 50%;
    max-width: 50%;
  }


}

@media screen and (max-width: 600px) {
  .img-grid-col {
    flex: 100%;
    max-width: 100%;
  }
}

.style-list {
  list-style: none;
  list-style-type: none;
  margin-left: -20px;
}

.style-list li {
  line-height: 1.4rem;
  margin-bottom: 20px;
  border-left: 5px solid var(--accent-red);
  padding: 6px 12px 6px 12px;
}

.main-content {
  max-width: 1200px;
  margin: 120px auto 120px auto;
}

.caption {
  position: relative;
  font-style: italic;
  font-size: 0.8rem;
  top: -20px;
}

.tight-fix {
  max-width: 700px;
  margin: -120px auto 0 auto;
}

.tight-fix img, .tight-fix video{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.tight-fix .caption {
  top: 0px;
}

.video-caption {
  top: 0;
}

.img-buffer {
  margin-bottom: 50px;
}

.img-contain {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}

.bare-list {
  margin-left: -20px;
  margin-top: -20px;
}

li {
    line-height: 1.2rem;
    margin-bottom: 12px;
}


.shadow {
  box-shadow: var(--shadow1);
  border: none;
}

/* remove bullets, treat as stacked text */
.bare-list, .bare-list ul {
  list-style: none;
  list-style-type: none;
  font-size: 0.9rem;
}

.dark-bg {
  position: relative;
  background: var(--dark-green);
  border-radius: 60px;
  margin:30px auto;
  max-width: 1300px;
}

.trackside-dark {
  background: var(--eggplant);
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  margin: -30px auto 0 auto;
  max-width: 700px;
  justify-content: center;
  color: var(--sand);

}

.dark-content-tight {
  position: relative;
  margin: -30px auto 0px auto;
  max-width: 900px;
  color: var(--sand);
}

.shadow-box-margin {
  margin-top: 80px;
}

.dark-content-tight .shadow-box {
  padding-top: 2px;
}

.dark-content-tight h4 {
  font-size: 1.5rem;
}

.logo-wrapper img {
  margin-bottom: 40px;
}


.dark-bg-content {
  margin-top: -145px;
  margin-bottom: 40px;
  /*max-width: 700px;*/
  margin-left: auto;
  margin-right: auto;
  color: var(--sand);
}

.shadow-box-inner h4 {
  font-weight: normal;
  color: var(--light-grey);
}

.margin-fix {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.dark-bg-content h2 {
  font-size: 12rem;
  color: var(--sand);
  margin-bottom: 40px;
  margin-top: 45px;
  text-align: center;
}

.contents-list {
  margin-left:0;
  font-size: 1rem;
  list-style: none;
  list-style-type: none;
}

.contents-list li {
  line-height: 1.6rem;
}

.contents-list li a {
  color: var(--medium-green);
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.contents-list li a:hover {
  color: var(--accent-teal);
}

.header-block h3{
  position: absolute;
  margin-bottom: 20px;
  padding: 8px 12px 12px 12px;
  background: var(--medium-green);
  border-radius: 3px;
  color: var(--white);
}

.outcomes-list {
  border-top: 2px dotted var(--medium-green);
  padding-top: 40px;
  margin-top: 29px;
  margin-bottom: -8px;
}

.content-tight {
  max-width: 1000px;
  margin: 0 auto;
}

.img-slider {
  color: #333;
  margin-top: -100px;
  margin-bottom: -80px;
}

.accordion {
  display: none;
  color: var(--sand);
}

.accordion::after {
  color: var(--sand);

}

.img-full {
  width: 100%;
  margin: 0 auto 50px auto;
  padding: 20px;

}

.tile-video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: -395px;
  z-index: -1;
  border-radius: var(--large-border-radius);
}

.tile video {
    /* Position and size the video to cover the entire container */
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
   border-radius: var(--large-border-radius);
  object-fit: cover; /* Ensures the video covers the area while maintaining aspect ratio */
  z-index: 0; /* Places the video in the background */
}

.img-wrapper {
  max-width: 700px;

  position: relative;
  margin: 0 auto;
}


  .show-mobile {
    display: none;
  }

.contents-accordion  {
  padding: 0;
}
.contents-bg {
  background: var(--white);
  height: auto;
  padding: 20px 35px;
  box-shadow: var(--shadow1);
  border-radius: var(--small-border-radius);
  margin-top: 30px;
}


.row-img {
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  border-radius: var(--small-border-radius);
}


.col img {
  width: 100%;
  border-radius: var(--small-border-radius);
}

.t-bolt-wrapper {
    position: relative;
    width: 100%;
    margin: 40px auto 0 auto;
    overflow: hidden;
    max-width: 500px;
    touch-action: pan-y; /* Crucial for 2025 mobile UX */
  user-select: none;   /* Prevents accidental text highlighting while swiping */

}

.slides-wrapper {
  display: flex; /* Lines images up horizontally */
  transition: transform 0.6s ease-in-out; /* The animation magic */
  width: 100%;
  max-width: 500px;
  padding: 0;
}

.slide {
  min-width: 100%; /* Each image takes full slider width */
  max-width: 500px;
  max-height: 600px;
  flex-shrink: 0;
}


.slide-active {
  display: block; /* Show the active image */
}

.dots-container {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: -30px auto 0 auto;
  text-align: center;
  z-index: 2;
  padding-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.dot-active { background-color: #717171; }

.t-bolt-wrapper button {
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background: var(--sand);
  box-shadow: var(--shadow1);
    top: 50%;
    transform: translateY(-50%);
    /* Add styling for background, color, padding, cursor etc. */
}

.t-bolt-wrapper img {
  position: relative;
}

.t-bolt-wrapper #prev-slide {
  left: 20px;
}

.t-bolt-wrapper #next-slide {
  right: 20px;
}

.color-box {
  margin: 12px;
}

.color-box h4 {
  font-size: 1.5rem;
  margin-bottom: -20px;
}


.eggplant {
  background: var(--eggplant);
  color: var(--sand);
}

.mustard {
  background: var(--mustard);
  color: var(--eggplant);

}

.steel-red {
  background: var(--steel-red);
  color: var(--white);
}

.transition-callout {
  max-width: 1000px;
  margin: 0 auto 200px auto;
  color: var(--sand);
  padding: 50px;
  border-radius: var(--small-border-radius);
  font-size: 1.5rem;
}

.transition-callout .shadow-box .shadow-box-inner {
  background: var(--dark-green);
  padding-top: 30px;
}


@media (max-width: 970px) {
  .dark-bg-content h2 {
    font-size: 10rem;
    margin-top: 60px;
  }
}

@media (max-width: 880px) {
    .video-col {
    flex: 50%;
  max-width: 50%;
  }
}

@media (max-width: 830px) {
  .dark-bg-content h2 {
    font-size: 9rem;
    margin-top: 60px;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  /* collapse flexboxes into single column */
  .flex, .flex-tight{
    display: block;
  }

  .col {
    margin-bottom: var(--padding1);
  }

  .col-tight {
    margin-top: -40px;
  }

  .flex-tight .col {
    margin-bottom: 0;
  }



  .contents-accordion {
    padding: 0;
    color: var(--sand);
    border-radius: var(--small-border-radius);
  }
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    display: block;
    background-color: var(--medium-green);
    color: var(--sand);
    cursor: pointer;
    padding: 15px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: bold;
    border-radius: var(--small-border-radius);
  }

  .contents-header, .contents-line {
    display: none;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--dark-green);
    color: var(--sand);
  }

  /* Style the accordion panel. Note: hidden by default */
  .accordion-panel {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .contents-list {
    padding: 15px;
    margin-left: -15px;
  }

  .accordion::after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--sand) !important;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
  }

  .active::after {
    content: "−"; /* Unicode character for "minus" sign (-) */
    color: var(--sand);
  }

  .col-two-thirds{
    padding: 12px;
  }

  .main-content {
    margin: 50px auto -20px auto;

  }

  .main-content h2, .section-break-bg h2{
    color: #fff;
    margin-bottom: 40px;
  }

  .section-bg-wrapper {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: -150px;
    z-index: -1;
  }

  .square-right {
    left: -40px;
  }

  .section-marker span {
    font-size: 10rem;
    text-align: right;
    padding-right: 30px;
  }

  .section-bg-tint {
    justify-content: right;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .project-details {
    padding: 40px 0;
  }

  .dark-bg {
    margin: 0 auto 150px auto;
  }

  .dark-bg-content {
    margin-top: -118px;
    margin-bottom: 80px;
  }

  .dark-bg-content h2 {
    font-size: 8rem;
    color: var(--sand);
    margin-bottom: -20px;
    margin-top: 40px;
  }

  .tight-fix {
    padding: 12px;
  }

  .project-details section {
    margin-top: -200px;
  }

  .contents-bg {
    padding: 0;
  }

  .row-fix {
    margin-top: -179px;
    margin-left: 0;
  }

  .mobile-margin {
    margin-top: 0px;
    padding: 0;
  }

  .mobile-margin img {
    margin-top: -60px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .row-img img {
    border-radius: var(--small-border-radius);
  }

  .t-bolt-wrapper {
    display: block;
  }

  .t-bolt-wrapper, .slides-wrapper, .slide {
    width: 100%;
  }

  .img-slider {
    margin-bottom: 20px;
  }

  .color-wrapper {
    margin-top: -40px;
  }

  .color-box {
    margin: 10px;
  }

  .section-break-bg {
    background: none;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: -200px;
  }

  .transition-callout {
    margin: 75px auto 150px auto;
    font-size: 1.2rem;
  }

  .section-break-bg .col-two-thirds p,
  .section-break-bg  .col-two-thirds p,
  .section-break-bg  .col-two-thirds p {
    color: #333;
    margin-bottom: 130px;
  }

  .section-break-bg .col-two-thirds h2,
  .section-break-bg  .col-two-thirds h2,
  .section-break-bg  .col-two-thirds h2 {
    margin-top: 30px;
    font-size: 4rem;
  } 

  .resume-content {
    width: 100%;
  }

}


@media (max-width: 680px) {
  .dark-bg-content h2 {
    font-size: 6rem;
    margin-top: 45px;
  }

  .resume-content h2 {
    font-size: 7rem;
    margin-top: -87px;
  }
}


@media (max-width: 550px) {
  .dark-bg-content {
    margin-top: -105px;
  }

  .dark-bg-content h2 {
    font-size: 5rem;
    color: var(--sand);
    margin-bottom: -10px;
    margin-top: 40px;
  }

  .section-break-bg .col-two-thirds h2,
  .section-break-bg  .col-two-thirds h2,
  .section-break-bg  .col-two-thirds h2 {
    margin-top: 40px;
    font-size: 3.5rem;
  } 

  .resume-content h2 {
    font-size: 6rem;
    margin-top: -82px;
  }
}

@media (max-width: 480px) {
  .dark-bg-content {
    margin-top: -93px;
    padding: 20px;
  }

  .dark-bg-content h2 {
    font-size: 4rem;
    color: var(--sand);
    margin-top: 30px;
    margin-bottom: -10px;
  }

  .video-col {
    flex: 100%;
  max-width: 100%;
  }

  #logo-variants .col-two-thirds h2,
  #breakdown .col-two-thirds h2,
  #brand-elements .col-two-thirds h2 {
    font-size: 2.8rem;
    margin-top: 50px;
  }
  .resume-content h2 {
    font-size: 5rem;
    margin-top: -77px;
  }

  .employer-wrap {
  padding: 0 24px;
}
    .job-details {
      margin-left: 48px;
      padding-right: 12px;

    }


}

@media (max-width: 450px) {
  .resume-content h2 {
    font-size: 4rem;
    margin-top: -71px;
  }
}




@media (max-width: 400px) {
  .main-content h2, .section-break-bg h2{
    font-size: 2.5rem;
  }

  .main-content h3, .dark-content-tight .logo-wrapper .shadow-box h3{
    font-size: 1.8rem;
  }

  .section-bg-wrapper {
    margin-bottom: -120px;
  }

  .dark-bg-content {
    margin-top: -93px;
    padding: 20px;
  }

  .dark-bg-content h2 {
    font-size: 4rem;
    color: var(--sand);
    margin-bottom: -10px;
  }

  .section-break-bg .col-two-thirds h2,
  .section-break-bg  .col-two-thirds h2,
  .section-break-bg  .col-two-thirds h2 {
    margin-top: 30px !important;
    font-size: 2.5rem !important;
  } 
}