/* A basic CSS Reset to remove default browser margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #1c403a;
  --darkest-green: #1c2d2a;
  --white: #fff;
  --light-grey: #999;
  --large-border-radius: 12px;
  --small-border-radius: 6px;
}

/* Base styles applied to the entire page body */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Defines a font stack */
  font-size: 16px; /* The default size for most browsers, which can be adjusted */
  line-height: 1.5; /* Sets spacing between lines of text */
  color: #333; /* Default text color */
  background-color: var(--white); /* Default background color */
  margin: 0; /* Removes default body margin */
}

/* Styles for headings (h1-h6) */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Ensures headings are bold */
  margin-bottom: 0.5em; /* Adds space below headings */
  line-height: 1.2; /* Tighter line spacing for headings */
}

/* Styles for paragraphs */
p {
  margin-bottom: 1em; /* Adds space below paragraphs */
}

/* Styles for links */
a {
  color: #007bff; /* Sets link color */
  text-decoration: none; /* Removes default underlines */
}

a:hover, a:focus {
  text-decoration: underline; /* Adds underline on hover/focus for accessibility */
}

ul{
  padding: 20px;
}



.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0px auto;
  color: #fff;
  background: var(--darkest-green);
  border-radius: var(--small-border-radius);
  z-index: 9999;
}

.site-header {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  margin: 0px auto;
  color: #fff;
  background: var(--dark-green);
  z-index: 1;
}

.site-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 160px 20px 20px 20px;
}

.site-nav {
  display: flex;
  gap: 1rem;
  background: var(--darkest-green);
}

.logo {

}

/* Hide hamburger on desktop */
.nav-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
}

.hero-bg-shape-1 {
  position: absolute;
  height: 500px;
  width: 500px;
  background: var(--white);
  bottom: -200px;
  right: 80%;
  z-index: 1;
  opacity: 0.05;
  border-radius: 50%;
}

.hero-bg-shape-2 {
   position: absolute;
  height: 900px;
  width: 900px;
  background: var(--white);
  bottom: -400px;
  left: 70%;
  z-index: 1;
  opacity: 0.05;
  border-radius: 50%;
}

.home-hero-wrapper {
  position: relative;
  width: 100%;
  background: var(--dark-green);
  margin: 0 auto;


   color: var(--white);
   text-align: center;
   padding: 0 20px 75px 20px;
}

.home-hero-wrapper h1 {
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 4rem;
  z-index: 2;
}

/* home page Learn more CTA */
.hero-cta-wrapper {
  max-width: 240px;
  margin: 0 auto;
 position: relative;
 z-index: 2;
}

/* home page Learn more CTA */
.hero-cta-wrapper a {
  flex-direction: row;
  flex-grow: 1;
  justify-items: stretch;
  margin-top: 45px;
  border-radius: 100px;
}

/* home page Learn more CTA */
.hero-cta-wrapper button {
  padding: 12px 30px 12px;
  width: 100%;
}

button {
  border-radius: 100px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover {
  cursor: pointer;
}


/*
**
** Button Arrow
**
**/

/* animates the arrow to the right on hover */
button:hover span{
  left: 6px;
  transition: left 0.2s ease-in-out;
}

/* vertically align the arrow */
button span, .tile a span{
  position: relative;
  top: 4px;
  left: 0;
  transition: left 0.2s ease-in-out;
}

.resume-content a button span svg{
  transform: rotate(90deg);
}

.resume-content a button span {
  top: 3px;
  left: 0;
  transition: top 0.2s ease-in-out;
}

.resume-content a:hover button span {
  top: 7px;
  left: 0;
  transition: top 0.2s ease-in-out;
}


/*
**
** Homepage tiles
**
**/

.clear-hero {
  position: relative;
  width: 100%;
  background: var(--white);
  margin: 0;
  z-index: 3;
}

.section-header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px 0px 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  z-index: 3;
}

.tile a:hover span {
  left: 6px;
  transition: left 0.2s ease-in-out;
}

.tile a span {
  top: 0px;
  left: 0px;
  transition: left 0.2s ease-in-out;
}

.tile-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px 20px 220px 20px;
}

.tile {
  background: #666;
  width: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 400px;
  border-radius: var(--large-border-radius);
}

.tile a {
  background: #333;
  height: 100%;
  display: block;
  padding: 20px;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  z-index: 9999!important;
  border-radius: var(--large-border-radius);
}

.project-info-wrapper {
  display: flex;
  margin-top: -80px;
  gap: 8px;
  padding: 20px;
  z-index: -1;
}

.project-info-chip {
  margin-top: auto;
  color: var(--white);
  background: none;
  padding: 8px;
  border-radius: var(--small-border-radius);
  font-size: 0.9rem;
  border: 2px solid var(--white);
}


/*
**
** Resume
**
**/

.resume-wrapper {
  position: relative;
  width: 100%;
  background: var(--light-grey);
  margin: 20px 0px;
  padding: 0px 20px 0px 20px;
  display: flex;
  color: var(--white);
  z-index: 4;
}

.resume-content {
  position: relative;
  flex-grow: 3;
  max-width: 700px;
  background: var(--dark-green);
  padding: 50px;
  margin: -100px auto;
  border-radius: var(--large-border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.resume-content h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  float: left;
}

.resume-content h3 {
  font-size: 1.8rem;
}

.resume-content h4, .resume-content h5 {
  font-size: 1.1rem;
  margin-bottom: -3px;
}

.resume-content h4 {
  margin-top: 4px;
}



.resume-content img {
  width: 48px;
}

.employer-wrap {
  margin-top: 35px;
}

.employer-wrap h3 {
  margin-bottom: 24px;
}

.employer-left, .employer-right {
  float: left;
}

.employer-right {
  padding-left: 8px;
}

.employer-right p, .resume-content-border p {
  color: #999;
  font-size: 0.9rem;
}

.resume-content a button{
  padding: 12px 24px;
  margin-top: -12px;
  float: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.clear {
  clear: both;
}

.resume-timeline {
  padding-left: 18px;

}



.resume-timeline h5 {
  margin-left: 38px;
  float: left;
  margin-top: -18px;
  margin-bottom: 0px;
}

.resume-timeline p {
  margin-left: 20px;

}

.resume-timeline ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0;            /* Removes default left padding */
  margin: 0;             /* Removes default margins */
  margin-top: 16px;
}

.bullet {
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 28px;
  margin-left: -1px;
  border-radius: 50%;
  background: var(--white);
}

/* adjustment for the first line below Bachelor's Degree
** on the resume section */
.magd-fix {
  margin-top: 0px;
  padding-top: 10px;

}


.resume-content-border {
  border-left: 2px solid var(--white);
  margin-left: 4px;
  padding-left: 12px;
  clear: both;
}

.resume-content-border span {
  width: 100%;
  float: left;
  margin-left: 19px;
}

.timeline-clear {
  position: relative;
  margin-bottom: 16px;
}

#education-headline {
  padding-top: 30px;
}


/*
**
** Hero IA Diagram
**
**/


.ia {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 2rem auto;
  max-width: 1000px;
  margin: 4rem auto;
  row-gap: 1rem;
  z-index: 2;
  padding-bottom: 40px;


}

.ia-lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ia h2, .ia h3 {
  margin-bottom: 0em; /* Adds space below headings */
}


line {
  stroke: var(--light-grey);
  stroke-width: 1.5;
  vector-effect: non-scaling-stroke;
  shape-rendering: crispEdges;
}

.ia-node {
  justify-self: center;
  align-self: start;
  width: clamp(100px, 20vw, 200px);
  padding: 0.8rem 0.4rem;
  border-top: 6px solid #000;
  border: 3px solid var(--white);
  font-weight: 600;
  text-align: center;
  font-size: 0.7rem;
  border-radius: var(--small-border-radius);
  z-index: 1; /* ensure nodes sit above lines */
}


/* Parent node */
.ia-top {
  grid-column: 2 / span 2;
  grid-row: 1;
  justify-items: stretch;
  font-size: 1rem;
  width: clamp(180px, 50vw, 300px);
  border: 3px solid var(--white);
}

.ia-top p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  line-height: 0.9rem;
}

/* All child nodes */
.ia-node[data-child] {
  grid-row: 3;
  justify-self: center;
}

.footer-left {
  float: left;
}

.footer-left a {
  font-weight: bold;
  color: var(--dark-green);
}

.footer-left p {
  font-size: 0.8rem;
  padding-bottom: 20px;
  padding-top: 12px;
}

.footer-right {
  float: right;
  
}

.footer-left .footer-links-wrapper {
  gap: 24px;
}

.footer-links-wrapper {
  display: flex;
  gap: 12px;
}


.footer-link img{
  width: 36px;
}

.footer-right p {
  display: none;
  font-size: 0.8rem;
}


/*
**
** Media Queries 
**
**/

@media (max-width: 900px) {
  .tile-wrapper {
      flex-flow: column wrap;
  }
  .tile {
    height: 300px;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .site-nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    padding: 1rem;
    display: none;
  }

  .site-nav.open {
    display: flex;
  }
}

@media (max-width: 700px) {
  .ia {
    grid-template-rows: auto 0.5rem auto;
  }
  .ia-node {
    font-size: 0.7rem;
  }

  .ia-top {
    font-size: 0.9rem;
  }
  .home-hero-wrapper h1 {
    font-size: 2.8rem;
    padding-top: 100px;
  }

  .footer-left, .footer-right {
    float: none;
    position: relative;
    text-align: center;
  }

  .footer-links-wrapper {
    width: 100%;
    justify-content: center;
    
  }

  .footer-right {
    padding: 30px 0 20px 0;
  }


  .footer-right p {
    display: block;
    padding-top: 12px;
  }

  .footer-left p {
    display: none;
  }

  .magd-fix {
    position: relative;
    top: -20px;
    padding-top: 30px;

  }
}

@media (max-width: 500px) {
  .ia-node {
    width: clamp(60px, 20vw, 100px);
    font-size: 0.6rem;
    padding: 8px;
  }

  .ia-top {
    width: clamp(140px, 50vw, 220px);
    font-size: 0.9rem;
  }

  .home-hero-wrapper h1 {
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .ia {
    padding-bottom: 10px;
  }

  .ia-top p {
    font-size: 0.65rem;
  }

  .tile-title h3 {
    font-size: 2.2rem;
  }


}



