/* =============================
    Global
===============================*/

:root {
  /* colors */
  --white: #f9f9f9;
  --white-20: rgba(255,255,255,0.2);

  --dark-grey: #333;
  --dark-grey-20: rgba(51, 51, 51, 0.2);
  
  /* corner radius */
  --radius-12: 12px;
  --radius-40: 40px;

  /* sizing */
  --max-1400: 1400px;
  --card-padding: 30px 40px 40px 40px;;

  /* type */
  --serif: "Glegoo"; /* weights = 400, 700 */
  --sans-serif: "Outfit"; /* weights = 100-900 */

  /* animation */
  --transition:0.2s ease-in-out;

  /* shadows */
  --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }
body { 
  font-family: var(--sans-serif), sans-serif;
  background: #111;
  overflow-x: hidden;
  color: var(--dark-grey);
  overflow-y: scroll;
}

ul, p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

ul {
  margin-left: 16px;
}

ul li {
  margin-bottom: 20px;
  line-height: 1.4rem;
}

.list-style-none {
  list-style: none;
  margin-left: 0;
}


h3 {
  line-height: 3.1rem;
  text-transform: uppercase;
}

.subsection-header {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h4 {
  font-family: var(--serif), serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

img {display: block; width: 100%; height: auto;}

/* =============================
    Utilities - Styling
===============================*/

.uppercase {text-transform: uppercase;}
.text-left {text-align: left;}
.italic {font-style: italic;}
.serif {font-family: var(--serif), serif;}
.radius-sm {border-radius: var(--radius-12);}
.card-shadow {box-shadow: var(--shadow);}

/* =============================
    Utilities - Alignment
===============================*/

/* general */
.width-100 {width: 100%;}

/* flex */
.flex {display: flex;}
.flex-col {flex-direction: column;}
.align-flex-start {align-items: flex-start;}
.align-center {align-items: center;}
.gap-12 {gap: 12px;}
.gap-16 {gap: 16px;}
.gap-24 {gap: 24px;}
.flex-wrap {flex-wrap: wrap;}
.no-wrap {flex-wrap: no-wrap;}

/* margin */
.mt-12 {margin-top: 12px;}
.mt-24 {margin-top: 24px;}
.mt-32 {margin-top: 32px;}
.mt-48 {margin-top: 48px;}
.mt-72 {margin-top: 72px;}
.mt-120{margin-top: 120px;}
.mt-240{margin-top: 240px;}
.ml-50 {margin-left: 50px;}
.mb-120{margin-bottom: 120px;}
.neg-mt-50{margin-top: -50px;}

/* padding */
.padding-20 {padding: 20px;}
.padding-24 {padding: 24px;}
.padding-50 {padding: 50px;}



/* =============================
    Progress Bar
===============================*/

/* --- 1. Progress Bar --- */
#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  z-index: 9999; /* Highest priority */
}
#progress-bar {
  height: 100%;
  width: 0%;
  background: #00ff88;
  transition: width 0.1s ease-out;
}

/* --- 2. Sections --- */
.sticky-section {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0;
  color: var(--white);
  overflow-y: auto;
}

/* Ensure sections overlap correctly */
#hero-bg     { background: #1a1a1a; z-index: 1; }
#overview-bg { background: var(--white); z-index: 2; }
#about-bg   { background: #e67e22; z-index: 3; }
#contact-bg  { background: #27ae60; z-index: 4; }

/* =============================
    Content Sections
===============================*/
.rel-100vh {
  position: relative;
  padding-top: 120px;
  min-height: 100vh;
  width: 100%;
}

.max-width-1400 {
  max-width: var(--max-1400);
  margin: 0 auto;
}

.rounded-section {
  border-radius: var(--radius-40);
  border-top: 2px solid var(--white);
}

/* h2 of section title */
.center-section-title {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 30px;
}

.accent-bg-text-huge {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60px;
  left: 0;
  margin-top: 60px;
  z-index: -1;
  background: url(../img/tldr.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.08;

}

/* fix to place above the left gradient 
that covers the left side of the cards */
 #overview-bg .ml-50, .zindex-3{
  position: relative;
  z-index: 3;
 }

 .highlight-box {
  padding: 6px 0 6px 12px;
  border-left: 5px solid red;
  font-size: 1.2rem;
 }




/* =============================
    Cards
===============================*/

#cardWrapper {
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  row-gap: 32px;
  padding: 12px 50px 50px 50px;
  overflow-x: auto;

  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;

  /* For Firefox */
  scrollbar-width: none;

  scroll-behavior: smooth;
}

#cardWrapper::-webkit-scrollbar {
  display: none;
}


.summary-card {
  background: #fff;
  position: relative;
  flex: 1 0 auto;
  padding: var(--card-padding);
  color: var(--dark-grey);
  container-type: inline-size;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.summary-card h4, .impact-card h4{
  padding-bottom: 8px;
  border-bottom: 2px solid var(--dark-grey-20);
}

.summary-card p, .impact-card p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.animated-card {
  position: sticky;
  top: 80px;
  background: #ccc;
}

.overview-logos {
  position: relative;
  width: 100%;
  padding: 12px;
}

.overview-logos img {
  max-width: 50%;
}

.impact-cards {
  row-gap: 24px;
}


.impact-card {
  background: #ccc;
  padding: var(--card-padding);
  flex: 1;
  min-width: 280px;
  width: 33.33%;
}



.impact-card svg{
    max-height: 140px;
    margin-top: 24px;
    margin-bottom: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    fill: var(--dark-grey);
}

.arrow {
    position: relative;
    margin-top: -53px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 10; /* Ensure arrows are above list items */
}

.left-arrow {
  margin-left: 50px;
}

.right-arrow {
    margin-right: 20px;
}

.overflow-cover {
  position: absolute;
  height: 100%;
  top: 0;
  width: 75px;
  z-index: 2;
  border-radius: var(--radius-40);
}

.overflow-cover-left {
  left: 0;
  background: linear-gradient(-90deg,rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 80%, rgba(249, 249, 249, 1) 100%);

}

.overflow-cover-right {
  right: 0;
  background: linear-gradient(90deg,rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 80%, rgba(249, 249, 249, 1) 100%);
}

.bg-text-cover-gradient {
  width: 100%;
  height: 205px;
  margin-top: -100px;
  background: linear-gradient(180deg,rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 80%, rgba(249, 249, 249, 1) 100%);

}

.bg-text-cover {
  width: 100%;
  background: var(--white);
  padding-bottom: 160px;
  margin-top: -48px;
  border-bottom-right-radius: var(--radius-40);
  border-bottom-left-radius: var(--radius-40);
}

.two-col {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.left-col, .right-col{
  flex: 1;
  max-width: 50%;
}

.left-col p {
  width: 100%;
}


.car-bg-img {
  position: absolute;
  height: 50%;
  width: 50%;
  margin-top: -80px;
  /*right: -124px;*/
  right: -24px;
  z-index: 3;
  opacity: 1;
/*  transition: 0.6s ease-in-out;
  filter: grayscale(100%) blur(10px);
  transform: translateZ(-100px);*/
}

.anim-enter-right {
/*  margin-left: -20px;
  opacity: 0;
  filter: blur(3px);
  transition: 0.4s ease-in-out;*/
}

.delay1 {
  transition-delay: 0.2s;
}

.delay2 {
  transition-delay: 0.4s;
}

.fade-in-right {
  margin-left: 0px;
  opacity: 1;
  filter: blur(0px);
}

.fade-in-left {
  right: -24px;
  opacity: 1;
  filter: grayscale(0%) blur(0px);
  transform: translateZ(0px);
}

.narrow {
  position: sticky;
  max-width: 700px;
  top: 100px;
  margin: 0 auto;
}

.disclaimer-title {
  z-index: 3;
  padding-bottom: 60px;
  font-size: 8vw;
}

.disclaimer-card {
  position: sticky !important;
  top: 80vh;
  background: #fff;
  margin-bottom: -120px;
  padding: var(--card-padding);
  z-index: 4;
}

.context-bg {
    z-index: 1;
    padding-top: 80px;
    margin-top: -80px;
    height: 110vh;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.context-bg h2 {
    font-size: 18vw;
  line-height: 1;
  color: #fff;
  margin-top: -220px;
}

.parallax-bg{
    position: relative;
    width: 100vw;
    height: 100vh;

}

.parallax-bg::before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/jlr/para1-bg-back.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;
}

.parallax-bg::after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/jlr/para1-bg-front.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    background-attachment: fixed;
}

.section-two {
    padding-top: 0;
    margin-bottom: 180px;
    position: sticky;
    top: 100px;
}

.section-two .left-col {
    margin-top: -60px;
   background: var(--white);
}

.padding-btm-120 {
    padding-bottom: 120px;
}



/* =============================

    Hero

===============================*/
#hero-bg {
  /* 1. Set the 3D context on the parent */
  perspective: 1000px; /* A value between 500px and 1000px is common */
  /* Optional: ensure children inherit the 3D space */
  transform-style: preserve-3d;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 85vw;

  /* animation properties, default */
  opacity: 1;
  transition: 0.4s ease-in-out;
  transform-origin: left left;
}

/* hero animation properties after scrolling */
.hero-fade {
  opacity: 0;
  /*margin-top: 20vh;*/
  filter: blur(20px);
  transform: translateZ(-100px);
}

/* hidden div that triggers the animation
to hide/show the hero content */
#heroAnimTrigger {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 200px;
}

.hero-content h1 {
  font-size: 11vw;
  line-height: 1;
  margin-top: 12px;
  margin-bottom: 0;
}

/* hero label for "case study" */
.hero-content h3 {
  margin-top: -100px;
  margin-bottom: -10px;
}

/* case study underline */
.header-underline {
  width: 80px;
  height: 5px;
  background: var(--white);
  margin-bottom: 12px;
  align-self: flex-start;
}

.dark-underline {
  background: #222;
}

.hero-subtext {
  font-size: 1.4rem;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* tags that appear below the hero's H1 */ 
.info-chip {

  background: rgba(255, 255, 255, 0.3);
  border: 1.5px dashed rgba(255, 255, 255, 0.6);
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.info-chip p {
  padding: 6px 18px;
  font-size: 0.9rem;
  font-weight: bold;
}



/* =============================
    Case Study Subnavigation 
===============================*/

/* decorative header above the subnavigation */
.contents-header {
  position: relative;
  margin: -95px auto -15px auto;
  z-index: 2;
  text-align: center;
}

.contents-header h2 {
  color: var(--white);
  font-size: 3.5rem;
}

/* case study subnavigation (sticky header) */
.section-subnav {
  position: sticky;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 9998;
  margin-bottom: -41px;
  top: 6px;
  display: flex;
  background: var(--white);
  border-top-left-radius: var(--radius-40);
  border-top-right-radius: var(--radius-40);
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* subnavigation link wrapper */
.section-subnav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
  margin-bottom: -20px;
}

.section-subnav ul li {
  display: inline-block;
  width: 100%;
}

.section-subnav a {
  display: inline-block;

  width: 100%;
  padding: 10px 0 8px 0;
  text-decoration: none;
  font-size: 1rem;
  transition: var(--transition);
}

.section-subnav a:before {
  content: " ";
  position: absolute;
  margin-left: -10px;
  margin-top: -1px;
  font-size: 1.5rem;
  transition: var(--transition);
}

.section-subnav a:after {
  content: " ";
  position: absolute;
  margin-left: 2px;
  margin-top: -1px;
  font-size: 1.5rem;
  transition: var(--transition);
}

.section-subnav a:hover {background: #999;}

.section-subnav a:hover:before {content: "[";}

.section-subnav a:hover:after {content: "]";}

/* =============================
    Media Queries
===============================*/


@media (max-width: 850px) {
  .impact-card {width: 100%;}
}

@media (max-width: 800px) {

  .two-col .left-col {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .car-bg-img {
    position: relative;
    margin-top: 0;
    right: -50px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: -80px;
  }
}

@media (max-width: 700px) {
  .hero-content h1 {font-size: 18vw;}
  .center-section-title {font-size: 4rem;}
}

/* Makes agjustments so the disclaimer text clears
** the card, need to adjust padding everytime the
** text blocks gains a row of text.
**
** Text block has three lines of text by default */
@media (max-width: 704px) {
  /* first instance, text wraps to four lines */
  .disclaimer-title {padding-bottom: 90px;}
}

/* when cards collapse to single column */
@media (max-width: 635px) {

  .sticky-title, #overview-bg .ml-50 {position: sticky;}
  .sticky-title {top: 80px;}
  #overview-bg .ml-50 {margin-left: 24px;}
  #overview-bg h3 {top: 205px;}
  #overview-bg .header-underline {top: 240px;}
  #cardWrapper {padding: 24px;}
  .summary-card {z-index: 3;}
  .arrow, .overflow-cover {display: none;}
  .zindex-3 {padding: 24px;}
  .impact-cards {row-gap: 24px;}

  .car-bg-img {
    right: -24px;
    margin-bottom: -40px;
  }

  .disclaimer-card p{
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .disclaimer-title {padding-bottom: 60px;}
}


/* breakpoint when design impact 
// cards collapse to single column */

/* this section makes the cards stackable */
@media (max-width: 683px) {
  .impact-cards {row-gap: 32px;}

  .impact-cards-wrapper h3,
  .impact-cards-wrapper .header-underline,
  .impact-card {
    position: sticky;
  }

  .impact-cards-wrapper h3 {top: 80px !important;}
  .impact-cards-wrapper .header-underline {top: 115px !important;}
  .impact-card {top: 80px;}
}

@media (max-width: 542px) {
  /* second instance, text wraps to four lines */
  .disclaimer-title {padding-bottom: 80px;}
}

@media (max-width: 487px) {
  /* third instance, text wraps to four lines */
  .disclaimer-title {padding-bottom: 100px;}
}

@media (max-width: 431px) {
  /* fourth instance, text wraps to four lines */
  .disclaimer-title {padding-bottom: 120px}
}

@media (max-width: 401px) {
  .disclaimer-card {padding: 24px;}
  /* fifth instance, text wraps to four lines */
  .disclaimer-title {padding-bottom: 100px;}
}

@media (max-width: 369px) {
  /* sixth instance, text wraps to four lines */
  .disclaimer-title {padding-bottom: 130px;}
}
