/* A basic CSS Reset to remove default browser margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sand: #EFEDE7;
  --accent-teal: #1aad91;
  --accent-red: #A00A0C;
  --medium-green: #1c403a;
  --dark-green: #1c2d2a;
  --eggplant: #3F2E42;
  --mustard: #FFD655;
  --steel-red: #CB4848;
  --white: #fff;
  --light-grey: #999;
  --large-border-radius: 12px;
  --small-border-radius: 6px;
  --padding1: 20px;
  --shadow1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
;
}

/* Base styles applied to the entire page body */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Defines a font stack */
  font-size: 16px; /* The default size for most browsers, which can be adjusted */
  line-height: 1.5; /* Sets spacing between lines of text */
  color: #333; /* Default text color */
  background: var(--white);
  background-color: var(--sand); /* Default background color */
  margin: 0; /* Removes default body margin */
}

/* Styles for headings (h1-h6) */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Ensures headings are bold */
  margin-bottom: 0.5em; /* Adds space below headings */
  margin-top: 0.5em;
  line-height: 1.2; /* Tighter line spacing for headings */
}

/* Styles for paragraphs */
p {
  margin-top: 1.7em;
  margin-bottom: 1em;
}

/* Styles for links */
a {
  color: #007bff; /* Sets link color */
  text-decoration: none; /* Removes default underlines */
}

a:hover, a:focus {
  text-decoration: underline; /* Adds underline on hover/focus for accessibility */
}

ul{
  padding: var(--padding1);
}

.subpage-hero {
  position: relative;
  width: 100%;
  background: #fff;
  padding: var(--padding1);
}

.flex{
  display: flex;
  width: 100%;
  gap: 40px;
}

.flex-tight {
  gap: 0;
}

.flex-tight .col {
  padding: 0;
  border: none;
}

.flex-header {
  margin-top: 20px;
  margin-bottom: -10px;
}

strong {
  color: var(--accent-red);
}

.col {
  flex: 1; /* Makes both columns take up an equal share of the available space */
  padding: 20px 30px;
  /*border: 1px solid #000;*/
  border-radius: var(--small-border-radius);
  box-sizing: border-box; /* Ensures padding/border are included in the 50% width calculation */
}

.col-two-thirds {
  flex: 2 1 0; /* shorthand for flex-grow, flex-shrink, flex-basis */
}

.col-one-third {
  flex: 1 1 0; /* This item will take up 1 part of the available space */
}

.main-content h2, .section-break-bg h2{
  font-size: 3.8rem;
}

.main-content h3, .dark-content-tight h3 {
  font-size: 2.2rem;
  margin-top: 40px;
  margin-bottom: -10px;
}

.project-details section {
  margin-top: -80px;
}

.project-details video {
  width: 100%;
}

.project-details h3 {
  padding-top: 30px;
}

.list-margin {
  margin-top: 30px;
  margin-left: 20px;
}

.list-indent {
  margin-top: -15px;
  margin-bottom: -15px;
}

.project-media {
  position: relative;
  max-width: 700px;
  margin: 40px auto;
  color: var(--sand);
}

.project-media img {
  position: relative;
  width: 100%;
  margin: 0 auto 30px auto;
}


.shadow-box {
  box-shadow: var(--shadow1);
  padding: 0px 40px 30px 40px;
  background: var(--sand);
  color: var(--dark-green);
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--large-border-radius);
}

.shadow-box ul {
  margin-top: 20px;
  margin-bottom: -10px;
}

.italic {
  font-style: italic;
}


.section-marker {
  padding: 0;
  min-height: 100px;
  text-align: center;
  border-radius: var(--small-border-radius);
  box-shadow: var(--shadow1);
  z-index: 3;
}

.section-bg-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ccc;
  border-radius: var(--small-border-radius);
  text-align: center;
}

.section-marker span {
  position: absolute;
  z-index: 3;
  font-size: 14rem;
  /* Set the fill color to transparent */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Standard property (less widely supported) */
  
  /* Define the stroke (outline) width and color */
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  
  -webkit-text-stroke-color: #fff; /* Use your desired color */
  text-stroke-color: #fff;
  
  /* Ensure text is visible even if properties aren't fully supported */
  color: var(--sand); 
}

.section-bg-tint {
  background: rgba(28, 64, 58, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 3;
  border-radius: var(--small-border-radius);
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Optionally, centers horizontally as well */
}

.section-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border-radius: var(--small-border-radius);
  background-image: url(../img/24my_exterior.jpg);
}

/* JLR case study section images */
.objective-bg {background-image: url(../img/24my_interior2.jpg);}
.constraints-bg {background-image: url(../img/24my_interior3.jpg);}
.approach-bg {background-image: url(../img/24my_exterior3.jpg);}
.role-bg {background-image: url(../img/24my_exterior2.jpg);}
.results-bg {background-image: url(../img/24my_interior4.jpg);}
/* Trackside Thunder case study section images */
.tt-bg-1 {background-image: url(../img/24my_exterior.jpg);}
.tt-bg-2 {background-image: url(../img/24my_exterior.jpg);}
.tt-bg-3 {background-image: url(../img/24my_exterior.jpg);}
.tt-bg-4 {background-image: url(../img/24my_exterior.jpg);}
.tt-bg-5 {background-image: url(../img/24my_exterior.jpg);}
.tt-bg-6 {background-image: url(../img/24my_exterior.jpg);}
.tt-bg-7 {background-image: url(../img/24my_exterior.jpg);}

.section-bg-square {
  height: 200px;
  width: 200px;
  background: #ccc;
  position: absolute;
  border-radius: var(--small-border-radius);
  z-index: -1;
}

.skim-lead {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.tldr-margin {
  margin-top: -20px;
  margin-bottom: -40px;
}
.break-after-dark-bg {
  margin-top: 100px;
}

.margin-10 {
  margin-top: -10px;
}

.row-fix {
  margin-top: -200px;
  margin-left: -60px;
}

.h3-list-margin {
  margin-top: 20px;
}

.square-left {
  left: -40px;
  top: -40px;
}

.square-right {
  right: -40px;
  top: -40px;
}

.content {
  padding: var(--padding1);
}

.top-border {
  border-top: 2px solid #000;
  padding-top: 60px;
}

.img-grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 120px auto;
}

.img-grid-col {
  flex: 50%;
  max-width: 50%;
  padding: 0 20px;
}

.img-grid-col img {
  margin: 12px auto;
  vertical-align: middle;
  width: 100%;
}

.last-img-grid {
  margin: 0 auto;
}

.section-break-bg {
  width: 100%;
  max-width: 1500px;
  background: var(--dark-green);
  padding: 100px 50px 75px 50px;
  color: var(--sand);
}

@media screen and (max-width: 800px) {
  .img-grid-col {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .img-grid-col {
    flex: 100%;
    max-width: 100%;
  }
}

.style-list {
  list-style: none;
  list-style-type: none;
  margin-left: -20px;
}

.style-list li {
  line-height: 1.4rem;
  margin-bottom: 20px;
  border-left: 5px solid var(--accent-red);
  padding: 6px 12px 6px 12px;
}

.main-content {
  max-width: 1200px;
  margin: 120px auto 120px auto;
}

.caption {
  position: relative;
  font-style: italic;
  font-size: 0.8rem;
  top: -20px;
}

.tight-fix {
  max-width: 700px;
  margin: -120px auto 0 auto;
}

.tight-fix img, .tight-fix video{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.tight-fix .caption {
  top: 0px;
}

.video-caption {
  top: 0;
}

.img-buffer {
  margin-bottom: 50px;
}

.img-contain {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}

.bare-list {
  margin-left: -20px;
  margin-top: -20px;
}

li {
    line-height: 1.2rem;
    margin-bottom: 12px;
}


.shadow {
  box-shadow: var(--shadow1);
  border: none;
}

/* remove bullets, treat as stacked text */
.bare-list, .bare-list ul {
  list-style: none;
  list-style-type: none;
  font-size: 0.9rem;
}

.dark-bg {
  position: relative;
  background: var(--dark-green);
  border-radius: 60px;
  margin:30px auto;
  max-width: 1300px;
}

.trackside-dark {
  background: var(--eggplant);
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  margin: -30px auto 0 auto;
  max-width: 700px;
  justify-content: center;
  color: var(--sand);

}

.dark-content-tight {
  position: relative;
  margin: -30px auto 0px auto;
  max-width: 900px;
  color: var(--sand);
}

.shadow-box-margin {
  margin-top: 80px;
}

.dark-content-tight .shadow-box {
  padding-top: 2px;
}

.dark-content-tight h4 {
  font-size: 1.5rem;
}

.logo-wrapper img {
  margin-bottom: 40px;
}


.dark-bg-content {
  margin-top: -145px;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: var(--sand);
}

.margin-fix {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.dark-bg-content h2 {
  font-size: 8rem;
  color: var(--sand);
  margin-bottom: -20px;
  text-align: center;
}

.contents-list {
  margin-left:0;
  font-size: 1rem;
  list-style: none;
  list-style-type: none;
}

.contents-list li {
  line-height: 1.6rem;
}

.contents-list li a {
  color: var(--medium-green);
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.contents-list li a:hover {
  color: var(--accent-teal);
}

.header-block h3{
  position: absolute;
  margin-bottom: 20px;
  padding: 8px 12px 12px 12px;
  background: var(--medium-green);
  border-radius: 3px;
  color: var(--white);
}

.outcomes-list {
  border-top: 2px dotted var(--medium-green);
  padding-top: 40px;
  margin-top: 29px;
  margin-bottom: -8px;
}

.content-tight {
  max-width: 1000px;
  margin: 0 auto;
}

.img-slider {
  color: #333;
  margin-top: -100px;
  margin-bottom: -80px;
}

.accordion {
  display: none;
  color: var(--sand);
}

.accordion::after {
  color: var(--sand);

}

.img-full {
  width: 100%;
  margin: 0 auto 50px auto;

}

.img-wrapper {
  max-width: 700px;

  position: relative;
  margin: 0 auto;
}


  .show-mobile {
    display: none;
  }

.contents-accordion  {
  padding: 0;
}
.contents-bg {
  background: var(--white);
  height: auto;
  padding: 20px 35px;
  box-shadow: var(--shadow1);
  border-radius: var(--small-border-radius);
  margin-top: 30px;
}


.row-img {
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  border-radius: var(--small-border-radius);
}


.col img {
  width: 100%;
  border-radius: var(--small-border-radius);
}

.t-bolt-wrapper {
    position: relative;
    width: 100%;
    margin: 40px auto 0 auto;
    overflow: hidden;
    max-width: 500px;
    touch-action: pan-y; /* Crucial for 2025 mobile UX */
  user-select: none;   /* Prevents accidental text highlighting while swiping */

}

.slides-wrapper {
  display: flex; /* Lines images up horizontally */
  transition: transform 0.6s ease-in-out; /* The animation magic */
  width: 100%;
  max-width: 500px;
  padding: 0;
}

.slide {
  min-width: 100%; /* Each image takes full slider width */
  max-width: 500px;
  max-height: 600px;
  flex-shrink: 0;
}


.slide-active {
  display: block; /* Show the active image */
}

.dots-container {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: -30px auto 0 auto;
  text-align: center;
  z-index: 2;
  padding-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.dot-active { background-color: #717171; }

.t-bolt-wrapper button {
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background: var(--sand);
  box-shadow: var(--shadow1);
    top: 50%;
    transform: translateY(-50%);
    /* Add styling for background, color, padding, cursor etc. */
}

.t-bolt-wrapper img {
  position: relative;
}

.t-bolt-wrapper #prev-slide {
  left: 20px;
}

.t-bolt-wrapper #next-slide {
  right: 20px;
}

.color-box {
  margin: 12px;
}

.color-box h4 {
  font-size: 1.5rem;
  margin-bottom: -20px;
}


.eggplant {
  background: var(--eggplant);
  color: var(--sand);
}

.mustard {
  background: var(--mustard);
  color: var(--eggplant);

}

.steel-red {
  background: var(--steel-red);
  color: var(--white);
}

.transition-callout {
  max-width: 1000px;
  margin: 0 auto 200px auto;
  background: var(--dark-green);
  color: var(--sand);
  padding: 50px;
  border-radius: var(--small-border-radius);
  font-size: 1.5rem;
}






/* Mobile styles */
@media (max-width: 768px) {
  /* collapse flexboxes into single column */
  .flex, .flex-tight{
    display: block;
  }

  .col {
    margin-bottom: var(--padding1);
  }

  .col-tight {
    margin-top: -40px;
  }

  .flex-tight .col {
    margin-bottom: 0;
  }



  .contents-accordion {
    padding: 0;
    color: var(--sand);
    border-radius: var(--small-border-radius);
  }
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    display: block;
    background-color: var(--medium-green);
    color: var(--sand);
    cursor: pointer;
    padding: 15px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: bold;
    border-radius: var(--small-border-radius);
  }

  .contents-header, .contents-line {
    display: none;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--dark-green);
    color: var(--sand);
  }

  /* Style the accordion panel. Note: hidden by default */
  .accordion-panel {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .contents-list {
    padding: 15px;
    margin-left: -15px;
  }

  .accordion::after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--sand) !important;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
  }

  .active::after {
    content: "−"; /* Unicode character for "minus" sign (-) */
    color: var(--sand);
  }

  .col-two-thirds{
    padding: 12px;
  }

  .main-content {
    margin: 50px auto -20px auto;

  }

  .main-content h2, .section-break-bg h2{
    color: #fff;
    margin-bottom: 40px;
  }

  .section-bg-wrapper {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: -150px;
    z-index: -1;
  }

  .square-right {
    left: -40px;
  }

  .section-marker span {
    font-size: 10rem;
    text-align: right;
    padding-right: 30px;
  }

  .section-bg-tint {
    justify-content: right;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .project-details {
    padding: 40px 0;
  }

  .dark-bg {
    margin: 0 auto 150px auto;
  }

  .dark-bg-content {
    margin-top: -118px;
    margin-bottom: 80px;
  }

  .dark-bg-content h2 {
    font-size: 6rem;
    color: var(--sand);
    margin-bottom: -20px;
  }

  .tight-fix {
    padding: 12px;
  }

  .project-details section {
    margin-top: -200px;
  }

  .contents-bg {
    padding: 0;
  }

  .row-fix {
    margin-top: -179px;
    margin-left: 0;
  }

  .mobile-margin {
    margin-top: 0px;
    padding: 0;
  }

  .mobile-margin img {
    margin-top: -60px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .row-img img {
    border-radius: var(--small-border-radius);
  }

  .t-bolt-wrapper {
    display: block;
  }

  .t-bolt-wrapper, .slides-wrapper, .slide {
    width: 100%;
  }

  .img-slider {
    margin-bottom: 20px;
  }

  .color-wrapper {
    margin-top: -40px;
  }

  .color-box {
    margin: 10px;
  }

  .section-break-bg {
    background: none;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: -200px;
  }

  .transition-callout {
    margin: 75px auto 150px auto;
  }

}

@media (max-width: 550px) {
  .dark-bg-content {
    margin-top: -105px;
  }

  .dark-bg-content h2 {
    font-size: 5rem;
    color: var(--sand);
    margin-bottom: -10px;
  }
}

@media (max-width: 480px) {
  .dark-bg-content {
    margin-top: -93px;
    padding: 20px;
  }

  .dark-bg-content h2 {
    font-size: 4rem;
    color: var(--sand);
    margin-bottom: -10px;
  }
}




@media (max-width: 400px) {
  .main-content h2, .section-break-bg h2{
    font-size: 2.5rem;
  }

  .main-content h3, .dark-content-tight .logo-wrapper .shadow-box h3{
    font-size: 1.8rem;
  }

  .section-bg-wrapper {
    margin-bottom: -120px;
  }

  .dark-bg-content {
    margin-top: -93px;
    padding: 20px;
  }

  .dark-bg-content h2 {
    font-size: 4rem;
    color: var(--sand);
    margin-bottom: -10px;
  }
}