/* =========================
   0. CSS VARIABLES
   ========================= */

   :root {
      --sand: #EFEDE7;
      --sand-dark: #D5D3CD;
      --sand-3: #C9C8C4;
      --accent-teal: #18C3A2;
      --accent-red: #A00A0C;
      --medium-green: #1c403a;
      --dark-green: #1c2d2a;
      --white: #fff;
      --light-grey: #D5D3CD;
      --dark-grey: #333333;

      --max-width-100: 100%;
      --max-width-md: 1200px;
      --max-width-sm: 720px;

      --space-xs: 0.5rem;
      --space-sm: 1rem;
      --space-md: 2rem;
      --space-lg: 4rem;

      --radius-sm: 6px;
      --radius-md: 12px;
      --radius-lg: 18px;
      --radius-xl: 24px;

      --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
      --nav-width: 320px;
      --nav-bg: #0f0f14;
      --nav-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
   }

/* =========================
   1. Global Styles
   ========================= */

/* Base styles applied to the entire page body */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px; /* The default size for most browsers, which can be adjusted */
  line-height: 1.5; /* Sets spacing between lines of text */
  color: var(--dark-grey); /* Default text color */
  background: var(--sand);
  background-color: var(--sand); /* Default background color */
  margin: 0; /* Removes default body margin */
  overflow-x: hidden;
}

/* Styles for headings (h1-h6) */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Ensures headings are bold */
  margin-bottom: var(--space-xs); /* Adds space below headings */
  margin-top: var(--space-xs);
  line-height: 1.2rem; /* Tighter line spacing for headings */
}

h1, h2 {
   font-family: "Inter", sans-serif;
}

h3, h4, .serif-strong{
   font-family: "Merriweather", serif;
}

h3, .serif-strong {
   font-weight: 900;
}

/* Styles for paragraphs */
p {
  margin-top: var(--space-md);
  margin-bottom: var(--space-sm);
}

/* Styles for links */
a {
  color: var(--accent-red); /* Sets link color */
  text-decoration: none; /* Removes default underlines */
  font-weight: bold;
}

a:hover, a:focus {text-decoration: underline;}
ul {margin-top: -12px;}
ul li {margin-bottom: 16px;}
ul li:last-child {margin-bottom: 0;}
h2 {font-size: 4rem;}
h3 {font-size: 2.3rem; margin-bottom: 30px;}
h4 {font-size: 1.1rem;}
h5 {font-weight: normal;}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: light;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}


/* =========================
   2. Global Layout
   ========================= */

.container--rel {position: relative;}

.narrow {
   position: relative;
   margin: -30px auto 0 auto;
   padding-left: 30px;
   padding-right: 30px;
   max-width: 600px;
   background: var(--sand);
   border-radius: var(--radius-md);
}

.container--narrow {
   position: relative;
   padding: 20px 30px;
   margin: 0 auto;
   background: var(--white);
   color: var(--dark-grey);
   max-width: var(--max-width-sm);
   border-radius: var(--radius-lg);
   box-shadow: var(--shadow);
}

.container {
   position: relative;
   margin: 20px auto;
}

.container-1200 {
   max-width: 1200px;
}

.container-1000 {
   max-width: 1000px;
}

.container-800 {
   max-width: 800px;
}

.full-width {width: var(--max-width-100);}
.flex {display: flex;}
.flex-col {flex-direction: column;}
.section-break {margin-top: 60px;}
.img-thumb {width: 52px;}

/* column widths */
.col-25-percent {flex-basis: 25%;}
.col-33-percent {flex-basis: 33.33%;}
.col-50-percent {flex-basis: 50%;}
.col-67-percent {flex-basis: 66.67%;}
.col-75-percent {flex-basis: 75%;}
.col-100-percent {flex-basis: 100%;}

.gap-100 {gap: 100px;}

/* border radius */
.radius-sm {border-radius: var(--radius-sm);}
.radius-md {border-radius: var(--radius-md);}
.radius-lg {border-radius: var(--radius-lg);}
.radius-pill {border-radius: 50px;}

/* padding */
.padding-20 {padding: 20px;}
.padding-0 {padding: 0;}

.align-vert-center {
   align-items: center;
}

/* XL headers that extend off containers */
.xl-offset-header h2 {
   font-size: 7rem;
   margin-top: -65px;
   margin-left: -4px;
   color: var(--white);
   text-transform: uppercase;
   letter-spacing: -3px;
   text-shadow: 0px 12px 20px rgba(0,0,0,0.2);
}

.shadow-mask {
   position: absolute;
   width: 100%;
   height: 40px;
   top: 0;
   left: 0;
   background: var(--white);
   border-top-left-radius: var(--radius-lg);
   border-top-right-radius: var(--radius-lg);
}

.mt-0 {margin-top: 0;}
.mt-20 {margin-top: 20px;}
.mt-40 {margin-top: 40px;}
.mt-60 {margin-top: 60px;}
.mt-80 {margin-top: 80px;}
.mb-20 {margin-bottom: 20px;}
.mb-40 {margin-bottom: 40px;}
.mb-80 {margin-bottom: 80px;}
.neg-mt-30 {margin-top: -30px;}
.pad-top-20 {padding-top: 20px;}
.pad-bot-60 {padding-bottom: 60px;}
.pad-bot-120 {padding-bottom: 120px;}


/* center aligned buttons in a container */
.btn-center {justify-content: center;}

/* outside wrapper for buttons */
.btn-row {
   display: flex;
   flex-direction: row;
   margin-bottom: 30px;
}

/* button <a> styles */
.btn-row .button {
   flex-basis: fit-content;
   flex-direction: row;
   background: #888;
   color: #fff;
   border: 2px solid #000;
   padding: 4px 32px;
   font-size: 0.85rem;
   top: 0;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   transition: 0.2s ease-in-out;
}

/* button arrow */
.btn-row .button span svg {
   width: 24px;
   padding: 0;
   margin-top: -14px;
   left: 4px;
   transition: 0.2s ease-in-out;
}

.button:hover {
   text-decoration: none;
   background: #222;
   color: #fff;
   border: 2px solid #000;
}

.button:hover span svg {
  left: 7px;
  transition: 0.2s ease-in-out;
}

/* overrides for dark backgrounds */
.dark-bg {
   background: var(--dark-green);
   color: var(--sand);
}

.dark-bg .button {
   background: var(--medium-green);
   border: 2px solid var(--accent-teal);
}

strong {
   color: var(--accent-red);
}

.dark-bg .button:hover {background: var(--accent-teal);color:var(--dark-green);}
.dark-bg h4 {color: var(--dark-green);}
.dark-bg a {color: var(--sand);}
.dark-bg strong {color: var(--accent-teal);}

.bare-list {
  margin-left: -40px;
  list-style: none;
  list-style-type: none;
  font-size: 0.9rem;
}

.super-title {
   color: var(--sand);
   font-family: 'Merriweather', serif;
   font-size: 1.2rem;
   font-weight: bold;
   position: absolute;
   text-align: center;
   margin-top: 15px;
   margin-left: 20px;
   color: var(--sand-dark);
}

/* =========================
   3. Project Summary 
   ========================= */

.project-summary {
   margin-top: -50px;
   background: var(--sand);
   padding-left: 30px;
   padding-right: 30px;
}

.project-summary h3 {
   font-size: 1.7rem;
   line-height: 2rem;
}

.contents-list {
   font-size: 1.2rem;
   line-height: 2rem;
}

  .contents-accordion {
    padding: 0;
    color: var(--sand);
    border-radius: var(--small-border-radius);
  }
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: var(--medium-green);
    color: var(--sand);
    cursor: pointer;
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    border: none;
    display: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    border-radius: var(--small-border-radius);
    border-radius: var(--radius-sm);
  }

   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--dark-green);
    color: var(--sand);
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 30px;
    max-height: 100%;
    margin-bottom: 30px;
    margin-left: -30px;
    margin-top: -30px;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
    display: block;
  }
  .accordion::after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--sand) !important;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
  }

  .active::after {
    content: "−"; /* Unicode character for "minus" sign (-) */
    color: var(--sand);
  }


/* =========================
   3. Project Tiles
   ========================= */


 .tile a span{
  position: relative;
  top: 0px;
  left: 0;
  transition: left 0.2s ease-in-out;
}


.tile a:hover span {
  left: 6px;
  transition: left 0.2s ease-in-out;
}

.tile-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 90px 20px 150px 20px;
}


.tile-row-1 {
  padding: 20px 20px 10px 20px;
}

.tile {
  width: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 400px;
  border-radius: var(--radius-md);
  background-size: cover;
  padding-bottom: 40px;
  background-position: center center;
}

.tile[data-bg="velar"] { background-image: url(../img/jlr/24my_interior2.jpg); }
.tile[data-bg="trackside"] { background-image: url(../img/trackside_thunder/tt_wordmark.svg); }


.tile a {
  background: linear-gradient(0deg,rgba(28, 64, 58, 0.9) 20%, rgba(28, 64, 58, 0.5) 50%, rgba(28, 64, 58, 0.9) 100%);
  height: 100%;
  display: block;
  padding: 20px 50px 20px 20px;
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: bold;
  z-index: 9999!important;
  color: var(--white);
  border-radius: var(--radius-md);
  box-shadow: rgba(50, 50, 93, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: 0.2s ease-in-out;
}

.tile a:hover {
  text-decoration: none;
  background: linear-gradient(0deg,rgba(26, 173, 145, .8) 0%, rgba(26, 173, 145, .8) 50%, rgba(26, 173, 145, .8) 100%);
  transition: 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.6) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
}

.tile-video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: -475px;
  z-index: -1;
  padding-top: 40px;
  border-radius: var(--radius-md);
}

.tile video {
    /* Position and size the video to cover the entire container */
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
   border-radius: var(--radius-md);
  object-fit: cover; /* Ensures the video covers the area while maintaining aspect ratio */
  z-index: 0; /* Places the video in the background */
}

.project-info-wrapper {
  display: flex;
  margin-top: -80px;
  gap: 8px;
  padding: 20px;
  z-index: 1!important;
}

.project-info-chip {
  margin-top: auto;
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  /*border-left: 3px solid var(--white);
  border-right: 3px solid var(--white);*/
  font-weight: bold;
  padding: 8px;
  border-radius: var(--radius-sm);
  font-size: 0.8rem;
  z-index: 0;
}


/* =========================
   3. Resume
   ========================= */

/* full width container for entire block */
.resume-bg {margin-top: 100px;}

/* partial height container for bg color */
.resume-bg-color {
   position: absolute;
   width: 100%;
   height: 80%;
   top: 10%;
   background: var(--sand-dark);
}



/* tightens up the alignment between headings */
.resume .flex .col h4, .resume .flex .col h5 {
   padding-left: 12px;
}

.resume h4 {margin-top: 6px;}
.resume h5 {margin-top: -6px; color: var(--dark-green);} 

/* left border on sections */
.border-left {
   border-left: 3px solid var(--sand-dark);
   padding: 0 12px 2px 36px;
   margin: auto auto 20px 25px;
}

/* section header background color */
.bg-highlight {
   background: var(--sand);
   margin: 12px auto -20px -12px;
   padding: 6px 12px 2px 12px;
}

/* last line of the resume */
.resume-list {margin-bottom: -20px;}

.corner-square {
   position: absolute;
   height: 100px;
   width: 100px;
}

.top-right-square {
   border-right: 5px solid var(--sand-3);
   border-top: 5px solid var(--sand-3);
   right: -30px;
   top: -30px;
   border-top-right-radius: var(--radius-xl);
}

.btm-left-square {
   border-left: 5px solid var(--sand-3);
   border-bottom: 5px solid var(--sand-3);
   left: -30px;
   bottom: -30px;
   border-bottom-left-radius: var(--radius-xl);
}

/* =========================
   4. Header
   ========================= */


.subpage-title {
   display: flex;
   padding: 20px;
   margin: 0 auto;
   max-width: 1000px;

}

.subpage-bg {
   min-height: 200px;
   width: 100vw;
   max-width: 100%;
   background: var(--dark-green);
   margin-top: -76px;
   padding-top: 76px;
   text-wrap: balance;
}


.subpage-title h1 {
   width: auto;
   font-size: 5rem;
   padding: 60px 0 60px 20px;
   line-height: 5rem;
   color: var(--sand);
}

.subpage-line {
   height: 50px;
   width: 160px;
   position: absolute;
   background: none;
   margin-top: 50px;
   margin-left: -5px;
   border-top: 3px solid var(--accent-teal);
   border-left: 3px solid var(--accent-teal);
   border-top-left-radius: var(--radius-md);
}


#corner-circle-base {
   height: 200px;
  width: 200px;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: -100px;
  top: -120px;
  border-bottom-left-radius: 50%;
  opacity: 1;
  background: var(--accent-teal);
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.5s ease-in-out; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  border: 1.5px solid var(--accent-teal);
}

#corner-circle {
   height: 200px;
  width: 200px;
  position: absolute; /* Stay in place */
  z-index: 9999; /* Sit on top */
  right: -100px;
  top: -120px;
  border-bottom-left-radius: 50%;
  background: var(--accent-teal);
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.5s ease-in-out; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 200px;
  width: 200px;
  position: absolute; /* Stay in place */
  z-index: 9999; /* Sit on top */
  right: -100px;
  top: -120px;
  border-bottom-left-radius: 50%;
  background: var(--medium-green);
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.5s ease-in-out; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%;
  max-width: 100%;
  margin: 0 auto; 
  padding: 0 20px;
    transition: 0.5s ease-in-out; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

}

.nav-underline {
   border-bottom: 1px solid var(--sand);
}


/* The navigation links inside the overlay */
.overlay a {
  padding: 12px;
  text-decoration: none;
  
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s ease-in-out; /* Transition effects on hover (color) */
}

.nav-link {
   opacity: 0;
   font-size: 3rem;
   color: var(--sand);
   pointer-events: none;
}

/* When you mouse over the navigation links, change their color */
.nav-link:hover, .nav-link:focus {
  color: var(--accent-teal) !important;
}

.nav-subtitle {
   font-size: 0.9rem;
   display: block;
   margin-bottom: -14px;
}




.nav-btn {
   cursor:pointer;
   position: absolute;
   top: 12px;
   right: 12px;
   z-index: 9999;
   color: var(--white);
   opacity: 1;
   display: flex;
   flex-direction: column;;
   line-height: 7px;
   padding-bottom: 7px;
   font-size: 38px;
   height: 36px;
   width: 44px;
   background-color: transparent;
   border: none;
   appearance: none;
}

.ham-line {
   color: var(--sand);
   font-weight: bold;
}

#ham-line1, #ham-line2, #ham-line3 {
   position: absolute;
   transition: 0.3s ease-in-out;
}

#ham-line1 {top: 0px;}
#ham-line2 {top: 8px;}
#ham-line3 {top: 16px;}

.home-logo img {
   width: 48px;
   margin-left: 24px;
   margin-top: 24px;
}

/* =========================
   4. Contact
   ========================= */


.contact-form .btn-row .button {
   padding-top: 6px;
   padding-bottom: 6px;
   font-size: 0.9rem;
   font-weight: bold;
}

.contact-form .btn-row .button:hover {
   cursor: pointer;
}

.contact-form .btn-row .button span {
   margin-top: 12px;
   position: relative;
   left: 4px;
   transition: 0.2s ease-in-out;
}

.contact-form .btn-row .button:hover span {
   left: 7px;
   transition: 0.2s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:active,
.contact-form textarea:active  {
   border: 1px solid var(--accent-teal);
   background: rgba(255, 255, 255, 0.1);
   outline: none;
   transition: 0.2s ease-in-out;
}

.contact-form input,
.contact-form textarea{
   width: 100%;
   padding: 12px;
   color: var(--sand);
   box-sizing: border-box;
   border-radius: none;
   background: var(--dark-green);
   border: 1px solid rgba(255, 255, 255, 0.4);
   box-shadow: var(--shadow);
   margin-top: 6px;
   transition: 0.2s ease-in-out;
   border-radius: var(--radius-sm);


}

.contact-form textarea {
   position: relative;
   height: 150px;
   resize: none;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Defines a font stack */

}


/* =========================
   4. Footer
   ========================= */
.site-footer {
   max-width: 1440px;
   margin: 200px auto 0 auto;
}

.footer-bg {
   padding: 0 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 130px;
   background: var(--dark-green);
}

.site-footer h4 {
   font-size: 3.5rem;
   margin-top: -28px;
   padding-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: -2px;
}

/* switched to absolute, so project link tiles
underneath it ignore it's position for margins */
.site-footer .footer-right h4 {
   position: absolute;
}

.site-footer h5 {
   font-size: 1.8rem;
   line-height: 2.2rem;
   margin-bottom: 50px;
   max-width: 460px;
}

.footer-left {
   grid-column: 1;
   grid-row: 1;
   padding: 0 12px 12px 12px;
}

.footer-right {
   grid-column: 2;
   grid-row: 1;
}

/* width of two footer blocks */
.footer-left, .footer-right {flex-basis: 40%;}

/* social media icons */
.footer-left .flex {gap: 12px;}

/* social media icon size */
.footer-left .flex img {
   width: 36px;
   margin-top: 24px;
}

/* outsinde container for project links, sits 
inside of the footer-right */
.footer-projects {
   display: grid;
   rid-template-columns: 1fr;
   margin: 0;
   padding: 0;
   height: 100%;
   transition: 0.2s ease-in-out;
}

/* individial containers for the project links */
.footer-project-tile {
   display: flex;
   align-content: stretch;
   align-items: stretch;
   border-radius: var(--radius-sm);
   padding: 0;
   background-position: center center;
   background-size: cover;
}

/* project tile background images, passed in from attribute */
.footer-project-tile[data-bg="1"] { background-image: url(../img/jlr/24my_interior2.jpg); }
.footer-project-tile[data-bg="2"] { background-image: url(../img/trackside_thunder/tt_wordmark.svg); }
.footer-project-tile[data-bg="3"] { background-image: url(../img/dirt_track/hero_card3.png); }

/* project tile <a> */
.footer-projects a {
   display: flex;
   align-content: stretch;
   align-items: stretch;
   align-self: center;
   flex-basis: 100%;
   color: var(--white);
   padding: 54px 24px;
   margin-top: 0px;
   font-size: 1.7rem;
   line-height: 1.7rem;
   border-radius: var(--radius-sm);
   background: linear-gradient(90deg,rgba(28, 64, 58, 0.9) 35%, rgba(255, 255, 255, 0.4) 100%);
   transition: 0.2s ease-in-out;
   box-shadow: var(--shadow);
   text-shadow: 2px 2px 0px rgba(0,0,0,0);
   background-size: 200% 100%; /* Make background twice as wide */
  background-position: 0% 0%; /* Start at the beginning */
  transition: 0.3s ease-out;
}

/* project tile <a> hover */
.footer-projects a:hover {
   background: linear-gradient(90deg,rgba(26, 173, 145, .9) 35%, rgba(255, 255, 255, .4) 100%);
   text-decoration: none;
   transition: 0.2s ease-in-out;
   text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
   background-position: 100% 0%;
   transition: 0.3s ease-out;
}

/* reposition the email next to email address,
pulls it down a bit to center it with text */
.footer-left a span svg {
   position: relative;
   top: 10px;
}

/* decrease font size of copyright text */
.footer-left p {font-size: 0.9rem;}

/* resize social media icons */
.footer-left a svg {
   width: 32px;
   height: 32px;
}

.footer-left a path {
   fill: var(--sand);
   transition: 0.2s ease-in-out;
}

.footer-left a:hover path {
   fill: var(--accent-teal);
   transition: 0.2s ease-in-out;
}

/* resize the bounding box of the link that the 
social media icons sit in */
.footer-left a {
   width: 32px;
   height: 32px;
}

.email-link span svg {
   left: 0;
   padding-right: 8px;
   transition: 0.2s ease-in-out;
}

.email-link {
   padding: 8px;
   border-top: 1px solid var(--sand);
   border-bottom: 1px solid var(--sand);
   transition: 0.2s ease-in-out;
}

.email-link:hover {
   text-decoration: none;
   border-top: 3px solid var(--accent-teal);
   border-bottom: 3px solid var(--accent-teal);
   transition: 0.2s ease-in-out;
   color: var(--accent-teal);
}

.email-link:hover span svg {
   left: 4px;
   transition: 0.2s ease-in-out;
}



/* =========================
   5. Mobile Styles
   ========================= */

@media (max-width: 1077px) {
   .footer-projects a {padding: 62px 24px;}
   .footer-bg {column-gap: 80px;}
}

@media (max-width: 920px) {
   .corner-square {
      display: none;
   }
}

@media (max-width: 900px) {
  .tile-wrapper {
      flex-flow: column wrap;
       padding: 80px 20px 80px 20px;
  }
  .tile {
    height: 300px;
  }

  .tile-video-wrapper {
    top: -375px !important;
  }
}



@media (max-width: 830px) {
   /* changes footer content blocks to
   have the background color, defining two
   separate blocks instead of one footer element */
   .footer-left, .footer-right{
      margin-top: 30px;
      padding: 0px 24px 24px 24px;
      border-radius: var(--radius-md);
   }

   /* moves footer block with copyright 
   below footer block with project links */
   .footer-left {
      grid-column: 1;
      grid-row: 2;

   }

   /* moves footer block with project links 
   above copyright/contact block */
   .footer-right {
      grid-column: 1;
      grid-row: 1;
       margin-bottom: 50px;
   }

   /* changes grid layout to 1 row, 2 columns
   to 2 rows, 1 column */
   .footer-bg {
      grid-template-columns: 1fr;
      padding: 0;
      background: none;
   }

   .site-footer {
      margin: 80px auto 0 auto;
   }

   .site-footer h4 {
      margin-left: -20px;
      color: #222;
   }

   .site-footer h5 {
      font-size: 1.5rem;
      max-width: 100%;
   }

   

   .footer-projects  {
      margin-bottom: -20px;
   }

   .footer-projects a {
      padding: 35px 24px;
      font-size: 1.2rem;
   }
}

@media (max-width:700px) {
   /* collapse flexboxes into rows */
   .flex {
      display: block;
   }

   /* keeps logo and label stacked side-by-side
   in the resume section */
   .resume .flex, .footer-left .flex {
      display: flex;
   }

   .subpage-title h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
   }


   .overlay-content {
      top: 15%;
   }

   .nav-link {
      font-size: 1.8rem;
   }

   .nav-subtitle {
      font-size: 0.8rem;
      margin-bottom: 0px;
   }

   .accordion {
     display: block;
     color: var(--sand);
     box-shadow: var(--shadow);

   }

   .panel {
      max-height: 0;
      background: var(--white);
      box-shadow: var(--shadow);
      border-bottom-right-radius: var(--radius-sm);
      border-bottom-left-radius: var(--radius-sm);
      margin-left: 0px;
      margin-top: 0px;
   }

   .accordion::after {
     color: var(--sand);
   }

   #contents-header {
      display: none;
   }
}

@media (max-width: 600px) {
   .xl-offset-header h2 {
      font-size: 4.5rem;
      margin-top: -56px;
   }
}


@media (max-width: 397px) {
   /* in the resume, moves "University of
   Wisconsin-Whitewater" up to align with
   the logo when it wraps to two lines */
   .multi-line-wrap {
      margin-top: -7px;
   }

   .site-footer h4 {
      font-size: 3rem;
      margin-top: -25px;
   }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .nav-link {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 














































































