<header>
  <div class="home-logo">
    <a href="/">
      <img src="../img/te_icon_color.svg">
    </a>
  </div>
</header>

     <!-- The overlay -->
<div class="overlaywrapper">
    <div id="nav-overlay" class="overlay">

      <!-- Overlay content -->
      <div class="overlay-content">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link" href="/contact">Contact</a>
      </div>

    </div>
</div>
<!-- Use any element to open/show the overlay navigation menu -->
<button id="navBtn" class="nav-btn" onclick="toggleMenu()">
    <span id="ham-line1">—</span>
    <span id="ham-line2">—</span>
    <span id="ham-line3">—</span>
</button>
