<header>
  <div class="home-logo">
    <a href="/">
      <img src="../img/te_icon_color.svg">
    </a>
  </div>
</header>

     <!-- The overlay -->
<div class="overlaywrapper">
    <div id="nav-overlay" class="overlay">

      <!-- Overlay content -->
      <div class="overlay-content">
        <a class="nav-link nav-underline" href="/">Home</a>
        <a class="nav-link nav-underline" href="/about">About</a>
        <a class="nav-link nav-underline" href="/projects/l560-range-rover-velar.html"><span class="nav-subtitle">Case Study 1</span>L560 Range Rover Velar</a>
        <a class="nav-link nav-underline" href="/projects/trackside-thunder.html"><span class="nav-subtitle">Case Study 2</span>Trackside Thunder</a>
        <a class="nav-link" href="/projects/dirt-track-racing.html"><span class="nav-subtitle">Case Study 3</span>Dirt Track Racing</a>
      </div>

    </div>
</div>
<!-- Use any element to open/show the overlay navigation menu -->
<button id="navBtn" class="nav-btn" onclick="toggleMenu()">
    <span id="ham-line1">—</span>
    <span id="ham-line2">—</span>
    <span id="ham-line3">—</span>
</button>
