<div class="container container-800 flex project-summary padding-20 radius-md">
    <!-- contents -->
    <section class="col-33-percent padding-0">
        
        <h3 id="contents-header">Contents</h3>
        <button id="table-of-contents" class="accordion">Contents</button>

        <div class="panel">
            <ol class="bare-list contents-list merriweather-normal">
                <li><a href="#intro">[1] Introduction</a></li>
                <li><a href="#definition">[2] Definition</a></li>
                <li><a href="#logo">[3] The Logo</a></li>
                <li><a href="#logo-variants">[4] Logo Variants</a></li>
                <li><a href="#breakdown">[5] Breakdown</a></li>
                <li><a href="#brand-elements">[6] Brand Elements</a></li>
                <li><a href="#in-action">[7] In Action</a></li>
                <li><a href="#video">[8] Reveal Video</a></li>
            </ol>
        </div> <!-- accordion panel -->
    
    </section> <!-- contents -->

    <!-- snapshot -->
    <section class="col-67-percent  mobile-neg-mt">

        <h3 id="project-summary">Case Study Summary (TL;DR)</h3>

        <!-- overview -->
        <ul class="bare-list">
            <li><strong>Client: </strong>Trackside Thunder</li>
            <li><strong>Problem: </strong>Pre-launch  podcast which had no previously existing brand identity, assets, or design direction; starting from scratch</li>
            <li><strong>Constraints: </strong>Heavier focus on 1:1/square aspect ratio assets for easier cover art and merch applications; maintain legibility at very small sizes</li>
            <li><strong>Role:</strong> Designer — Brand identity</li>
            <li><strong>Team:</strong> None, solo project</li>
            <li><strong>Industry: </strong>Motorsport podcast</li>
            <li><strong>Key Solutions: </strong>Modular brand design system, podcast cover/episode art, branded merch concepts</li>
            <li><strong>Outcome: </strong>Flexible visual system designed to support future growth, multiple formats, and consistent recognition</li>
        </ul>
    </section> <!-- snapshot -->
</div> <!-- project overview -->