    <div class ="tile-wrapper tile-row-1">
        <!-- tile 1 -->
        <div class="tile land-rover-tile">
            <a href="projects/l560-range-rover-velar.html">L560 Range Rover Velar
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none" class=""><path d="M2.66797 8H13.3346M13.3346 8L9.33464 4M13.3346 8L9.33464 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
        </a>

            <!-- info tags -->
            <div class="project-info-wrapper title-wrapping-chip">
                <div class="project-info-chip">UX Design
                </div>

                <div class="project-info-chip">Automotive HMI
                </div>
            </div>
        </div>

        <!-- tile 2 -->
        <div class="tile">
            <a href="about/index.html">Trackside Thunder
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none" class=""><path d="M2.66797 8H13.3346M13.3346 8L9.33464 4M13.3346 8L9.33464 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
            </a>

            <!-- info tags -->
            <div class="project-info-wrapper title-wrapping-chip">
                <div class="project-info-chip">Brand Identity
                </div>

                <div class="project-info-chip">Podcast
                </div>
            </div>
        </div> <!-- end of tile 2 -->
    </div>
    <div class ="tile-wrapper">
            <!-- tile 3 -->
        <div class="tile">
            <a href="about/index.html">Dirt Track Racing
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none" class=""><path d="M2.66797 8H13.3346M13.3346 8L9.33464 4M13.3346 8L9.33464 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
            </a>

            <!-- info tags -->
            <div class="project-info-wrapper title-wrapping-chip">
                <div class="project-info-chip">Visual Design
                </div>

                <div class="project-info-chip">Motion Graphics
                </div>
            </div>
        </div>

        <!-- tile 3 -->
        <div class="tile">
            <a href="about/index.html">L663 Land Rover Defender
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none" class=""><path d="M2.66797 8H13.3346M13.3346 8L9.33464 4M13.3346 8L9.33464 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
            </a>

            <!-- info tags -->
            <div class="project-info-wrapper title-wrapping-chip">
                <div class="project-info-chip">UX Design
                </div>

                <div class="project-info-chip">Automotive HMI
                </div>
            </div>
        </div>
    </div>