<div class="content content-tight flex">
    <!-- contents -->
    <section aria-labelledby="table-of-contents" class="col col-one-third contents-accordion shadow">
        
        <h2 class="contents-header">Contents</h2>
        <button id="table-of-contents" class="accordion">Contents</button>

        <div class="accordion-panel">
            <ol class="contents-list">
                <li><a href="#summary">[1] Summary</a></li>
                <li><a href="#objective">[2] Objective</a></li>
                <li><a href="#contraints">[3] Constraints</a></li>
                <li><a href="#approach">[4] Approach</a></li>
                <li><a href="#role">[5] Role</a></li>
                <li><a href="#solutions">[6] Solutions</a></li>
                <li><a href="#results">[7] Results</a></li>
            </ol>
        </div> <!-- accordion panel -->
    </section> <!-- contents -->

    <!-- snapshot -->
    <section aria-labelledby="project-snapshot" class="col col-two-thirds">

        <h2 id="project-snapshot">Project Snapshot</h2>

        <!-- overview -->
        <ul class="bare-list">
            <!-- company -->
            <li><strong>Company: </strong>Jaguar Land Rover</li>
            <!-- project -->
            <li><strong>Project: </strong>Range Rover Velar 24MY Infotainment Update</li>
            <!-- role -->
            <li><strong>Role: </strong>UX Designer</li>
            <!-- team -->
            <li><strong>Team: </strong>Two UX Designers, UX Researchers, Product Engineering Management</li>
            <!-- platform -->
            <li><strong>Platform: </strong>Pivi/Pivi Pro (embedded vehicle software)</li>
            <!-- platform -->
            <li><strong>Timeframe: </strong>2020-2021</li>
        </ul>

        <div class="header-block">
            <h3>Outcomes</h3>
        </div>

        <ul class="outcomes-list">
            <li>Replaced physical controls with touchscreen interactions</li>
            <li>Shipped on 2024 Range Rover Velar</li>
            <li>Interaction patterns scaled across all JLR vehicles</li>
            <li>Met legal, safety, and development requirements</li>
        </ul>
    </section> <!-- snapshot -->
</div> <!-- project overview -->