<div class="content content-tight flex">
    <!-- contents -->
    <section aria-labelledby="table-of-contents" class="col col-one-third contents-accordion">

        <div class="contents-bg">
        
        <h2 class="contents-header">Contents</h2>
        <button id="table-of-contents" class="accordion">Contents</button>

        <div class="accordion-panel">
            <ol class="contents-list">
                <li><a href="#context">[1] Context</a></li>
                <li><a href="#opportunity">[2] Opportunity</a></li>
                <li><a href="#approach">[3] Approach</a></li>
                <li><a href="#output">[4] Output</a></li>
                <li><a href="#recap">[5] Recap</a></li>
            </ol>
        </div> <!-- accordion panel -->
    </div>
    </section> <!-- contents -->

    <!-- snapshot -->
    <section aria-labelledby="project-summary" class="col col-two-thirds">

        <h2 id="project-summary">Case Study Summary (TL;DR)</h2>

        <!-- overview -->
        <ul class="bare-list">
            <li><strong>Context: </strong>Independent designer working within the local dirt track racing community</li>
            <li><strong>Problem: </strong>The racetrack(s) and their drivers lacked a consistent, professional visual presence across weekly promotions, individual branding, and season-level storytelling</li>
            <li><strong>Role:</strong> Designer & Photographer</li>
            <li><strong>Team:</strong> None, solo project(s)</li>
            <li><strong>Timeframe: </strong>2024-Present</li>
            <li><strong>Key Deliverables: </strong>Weekly race promotion posters, driver hero cards, season championship posters, motion graphics for individual photography promotion</li>
            <li><strong>Outcomes: </strong>Established a more professional and engaging visual presence for events and drivers, delivered memorable keepsakes for drivers, sponsors, and fans
</li>
        </ul>
    </section> <!-- snapshot -->
</div> <!-- project overview -->