<div class="content content-tight flex">
    <!-- contents -->
    <section aria-labelledby="table-of-contents" class="col col-one-third contents-accordion">

        <div class="contents-bg">
        
        <h2 class="contents-header">Contents</h2>
        <button id="table-of-contents" class="accordion">Contents</button>

        <div class="accordion-panel">
            <ol class="contents-list">
                <li><a href="#problem">[1] Problem</a></li>
                <li><a href="#objective">[2] Objective</a></li>
                <li><a href="#contraints">[3] Constraints</a></li>
                <li><a href="#approach">[4] Approach</a></li>
                <li><a href="#role">[5] Role</a></li>
                <li><a href="#solutions">[6] Solutions</a></li>
                <li><a href="#results">[7] Results</a></li>
            </ol>
        </div> <!-- accordion panel -->
    </div>
    </section> <!-- contents -->

    <!-- snapshot -->
    <section aria-labelledby="project-summary" class="col col-two-thirds">

        <h2 id="project-summary">Case Study Summary (TL;DR)</h2>

        <!-- overview -->
        <ul class="bare-list">
            <li><strong>Company: </strong>Jaguar Land Rover</li>
            <li><strong>Problem:</strong> Physical vehicle controls removed, requiring safety-critical functions to move into the touchscreen UI.</li>
            <li><strong>Constraints:</strong> Legal one-touch-activataion requirements, limited sidebar space, modifying existing software architecture.</li>
            <li><strong>Role:</strong> UX Designer — UX concepting, interaction design, prototyping, usability testing.</li>
            <li><strong>Team:</strong> 2 UX Designers + UX Research (US & UK).</li>
            <li><strong>Platform: </strong>Pivi/Pivi Pro (embedded vehicle software)</li>
            <li><strong>Key Solutions:</strong> Contextual sidebar buttons, overlays, multi-state controls, quick-adjust drag interactions, pre-trip home tile.</li>
            <li><strong>Outcome:</strong> Shipped on 24MY Range Rover Velar; design and interaction patterns scaled across all Jaguar Land Rover vehicles.</li>
        </ul>
    </section> <!-- snapshot -->
</div> <!-- project overview -->