<div class="container container-800 flex project-summary padding-20 radius-md">
    <!-- contents -->
    <section class="col-33-percent padding-0">
        
        <h3 id="contents-header">Contents</h3>
        <button id="table-of-contents" class="accordion">Contents</button>

        <div class="panel">
            <ol class="bare-list contents-list merriweather-normal">
                <li><a href="#problem">[1] Problem</a></li>
                <li><a href="#objective">[2] Objective</a></li>
                <li><a href="#constraints">[3] Constraints</a></li>
                <li><a href="#approach">[4] Approach</a></li>
                <li><a href="#role">[5] Role</a></li>
                <li><a href="#solutions">[6] Solutions</a></li>
                <li><a href="#results">[7] Results</a></li>
                <li><a href="#prototype">[8] Prototype</a></li>
            </ol>
        </div> <!-- accordion panel -->
    
    </section> <!-- contents -->

    <!-- snapshot -->
    <section class="col-67-percent mobile-neg-mt">

        <h3 id="project-summary">Case Study Summary (TL;DR)</h3>

        <!-- overview -->
        <ul class="bare-list">
            <li><strong>Company: </strong>Jaguar Land Rover</li>
            <li><strong>Problem:</strong> Physical vehicle controls removed, requiring safety-critical functions to move into the touchscreen UI</li>
            <li><strong>Constraints:</strong> Legal one-touch-activataion requirements, limited sidebar space, modifying existing software architecture</li>
            <li><strong>Role:</strong> UX Designer — UX concepting, interaction design, prototyping, usability testing</li>
            <li><strong>Team:</strong> 2 UX Designers + UX Research (US & UK)</li>
            <li><strong>Platform: </strong>Pivi/Pivi Pro (embedded vehicle software)</li>
            <li><strong>Key Solutions:</strong> Contextual sidebar buttons, overlays, multi-state controls, quick-adjust drag interactions, pre-trip homescreen tile</li>
            <li><strong>Outcome:</strong> Shipped on 24MY Range Rover Velar; design and interaction patterns scaled across all Jaguar Land Rover vehicles</li>
        </ul>
    </section> <!-- snapshot -->
</div> <!-- project overview -->