    <div class="resume-wrapper">
        <div class="resume-content">
            <h2>Resume ///</h2>
      
            <a href="about/index.html">
                    <button>Download PDF
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class=""><path d="M2.66797 8H13.3346M13.3346 8L9.33464 4M13.3346 8L9.33464 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button>
                </a>

            <div class="clear"></div>

            <div class="employer-wrap">
                <h3>Experience</h3>
            
                <div class="employer-left">
                    <img src="img/jlr_icon.jpg">
                </div>

                <div class="employer-right">
                    <h4>Jaguar Land Rover</h4>
                    <p id="yearsOfService"></p>
                </div>

                <div class="clear"></div>
            </div>

            <!-- job roles -->
            <div class="resume-timeline">
              
                  <ul>
                    <li><span class="bullet"></span><h5>Senior UX Designer</h5></li>
                  </ul>

                  <div class="clear"></div>

                  <div class="resume-content-border">
                    <p>Feb 2022 - Present (Portland, Oregon)</p>

                    <span>In-vehicle UX of future JLR products:</span>
                    <span>— Figma DesignOps</span>
                    <span>— Jaguar Type 00</span>
                    <span>— L460 Range Rover</span>
                     <div class="clear timeline-clear"></div>
                  </div>

                  <ul>
                    <li><span class="bullet"></span><h5> UX Designer</h5></li>
                  </ul>

                  <div class="clear"></div>

                  <div class="resume-content-border">
                    <p>Jan 2016 - Feb 2022 (Portland, Oregon)</p>

                    <span>L663 Land Rover Defender:</span>
                    <span>— Pivi, Pivi Pro infotainment UX design</span>
                    <div class="clear timeline-clear"></div>
                  </div>

            </div> <!-- resume-timeline -->

            <div class="employer-wrap">
                <h3>Education</h3>
            
                <div class="employer-left">
                    <img src="img/uww_seal.png">
                </div>

                <div class="employer-right">
                    <h4>University of Wisconsin-Whitewater</h4>
                    <p>2010-2015</p>
                </div>

                 <div class="clear"></div>
            </div>

             <!-- job roles -->
            <div class="resume-timeline">
              
                  <ul>
                    <li><span class="bullet"></span><h5>Bachelor's Degree, Media Arts & Game Development - B.A.</h5></li>
                  </ul>

                  <div class="clear"></div>

                  <div class="resume-content-border">
                    <span>— Emphasis in Visual Media Design</span>
                    <span>— Minor in Website Development & Administration</span>
                     <div class="clear timeline-clear"></div>
                  </div>

            </div> <!-- resume-timeline -->
            
          </div> <!-- resume-content -->
    </div> <!-- resume-wrapper -->